{% extends 'adminbase.html' %} 
{% load static %}  
{% block content %}
<form id="frmMaster"   class="row g-3">
    
<div class="content" style="padding-top:0px;width:50%;margin-left: 25%"> 
    <div class="card shadow-none border border-300 my-4" data-component-card="data-component-card">
      <div class="card h-100">
        <div class="col-auto" style="width:100%; background-color:#e0edff;height:38px;border-bottom:solid 1px #ddd; -webkit-border-top-left-radius: 6px;
            -webkit-border-top-right-radius: 6px;
            -moz-border-radius-topleft: 6px;
            -moz-border-radius-topright: 6px;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;">
              <h4 style="color:#3e465b; padding:10px 20px">{{actPage}}</h4>
            </div>
        <div class="card-body p-0"> 
            <div class="p-4 code-to-copy"> 
                <div class="row mb-3 position-relative">
                    <!-- {{tblData}} -->
                    <label class="col-sm-4 col-form-label" for="txtutype">Category</label>
                    <div class="col-sm-8">

                        <input readOnly class="form-control" id="txtcat" value="{{tblData.Category_Label}}" type="text"> 

                    </div>
                </div> 
                <div class="row mb-3 position-relative">
                    <!-- {{tblData}} -->
                    <label class="col-sm-4 col-form-label" for="txtutype">Text</label>
                    <input type="hidden" id="hdnTbl" name="page" value="{{tbl}}"/>
                    <div class="col-sm-8">

                        <input class="form-control" id="txtopt" value="{{tblData.opt}}" type="text" onblur="checkUsername()"> 

                    </div>
                </div>  
                <div class="row mb-3 position-relative">

                    <label class="col-sm-4 col-form-label" for="txtdesc">Description</label>

                    <div class="col-sm-8">

                    <textarea class="form-control" readOnly id="txtdesc"  type="text">{{tblData.desc}}</textarea>
                    </div>
                </div>           
                <fieldset>
                    <div class="row mb-3">

                        <label class="col-form-label col-sm-4 pt-0">Active Status</label>

                        <div class="col-sm-2">

                            <div class="form-check">
                            {% if tblData.sts == "Active" %}       
                            <input class="form-check-input" id="rbactive" type="radio" value="1" name="rbactivests" checked="">
                            {%else%}
                            <input class="form-check-input" id="rbactive" type="radio" value="1" name="rbactivests" checked="">
                            {% endif %}

                            <label class="form-check-label" for="rbactive">Active</label>
                            </div>  
                        </div>
                        <div class="col-sm-1"> 
                            <div class="form-check">
                            {% if tblData.sts == "Inactive" %}      
                            <input class="form-check-input" id="rbinactive" type="radio" value="0"  name="rbactivests" checked >
                            {%else%}
                            <input class="form-check-input" id="rbinactive" type="radio" value="0"  name="rbactivests" >
                            {% endif %}
                            <label class="form-check-label" for="rbinactive">Inactive</label>
                            </div> 
                        </div>
                    </div>
                </fieldset>

                <div class="col-12 gy-6">
                    <div class="row g-3 justify-content-end">
                      <div class="col-auto"> 
                        <input type="button" class="btn btn-phoenix-primary px-5" onclick="gotolist()"   value="Cancel"/>
                      </div>
                      <div class="col-auto">
                        <input type="button"  class="btn btn-primary px-5 px-sm-5" onclick="validateform()" value="Update" /> 
                      </div>
                     
                    </div>
                  </div> 
            </div>
            
        </div>
        </div>  
    </div>
    
    
</div>
</form>
{% endblock content %}
{% block script %}
<script src="{% static 'Front/dist/assets/vendor/jquery/dist/jquery.min.js' %}"></script>

<script type='text/javascript' >
    var selectedOPt='';
    $(document).ready(function () { 
      console.log('sdj')
      obj={{tblData|safe}}
      console.log(obj);
      $("#txtopt").val(obj.opt);
      $("#txtopt").prop('disabled',true)
      selectedOPt =obj.AID;
      $('#txtdesc').val(obj.desc)
      if(obj.sts=='Active'){
          $('#rbactive').prop('checked',true)
      }
      else{
          $('#rbinactive').prop('checked',true)
      }
    })
    function validateform(){ 
        if($("#txtopt").val().trim().length<1)
        {
            alert('Please enter option value.')
            return false
        } 
        $.ajax({
            url: '/addMasterOpts/', 
            data:{ selectedOPt: selectedOPt,opt: $("#txtopt").val(),desc:$('#txtdesc').val(),tbl:$('#hdnTbl').val(),activests:$('input[name="rbactivests"]:checked').val()},
           dataType: 'json',   
            success: function (data) { 
               if(data.isvalid=='true'){
               // $('#tblMaster tr:last').after('<tr><td>'+$("#txtopt").val()+'</td><td>'+$("#txtdesc").val()+'</td></tr>');
                alert('Option updated successfully.')
                $("#txtopt").val('');
                $("#txtdesc").val('')
                $('form').submit();
               }
               else
               {
                alert('Error while creating user.')
               }
            }
        });
    }

    function checkUsername(){ 
        $.ajax({
            url: '/checkValue/', 
            data:{val: $("#txtopt").val(),'tbl':$('#hdnTbl').val()},
           dataType: 'json',   
            success: function (data) { 
               if(data.cnt!='0'){
                $("#txtopt").val('')
                alert('Option already exists.')
                $("#txtopt").focus()
               }
               
            }
        });
    }

    function getvalues(id){ 
        $.ajax({
            url: '/getMasterTblbyId/', 
            data:{val: id,'tbl':$('#hdnTbl').val()},
           dataType: 'json',   
            success: function (data) { 
               
               $.each(data.tblata, function(i, obj) {
                    //use obj.id and obj.name here, for example:
                    
                    if(obj.AID==id){
                        $("#txtopt").val(obj.opt);
                        $("#txtopt").prop('disabled',true)
                        selectedOPt =obj.AID;
                        $('#txtdesc').val(obj.desc)
                        if(obj.sts=='Active'){
                            $('#rbactive').prop('checked',true)
                        }
                        else{
                            $('#rbinactive').prop('checked',true)
                        }
                    }
                });
               
            }
        });
    }

    function gotolist()
    {
        window.location='{{showmasterTbls}}?page={{tbl}}'
        
    }
</script>
{% endblock script %}