{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    #mytextarea {
  height: 00px;
  /*edit this*/
}
.form-control.flatpickr-custom {
    width: 30% !important;
}

</style>
<!-- <link href="vendors/flatpickr/flatpickr.min.css" rel="stylesheet" /> -->
<link rel="stylesheet" href="{% static 'Front/dist/assets/vendor/quill/dist/quill.snow.css' %}">
<link rel="stylesheet" href="{% static 'Front/dist/assets/vendor/flatpickr/dist/flatpickr.min.css' %}">
<link rel="stylesheet" href="{% static 'Front/dist/assets/vendor/tom-select/dist/css/tom-select.bootstrap5.css' %}">


<div class="modal fade" id="divTune" tabindex="-1" aria-labelledby="divTune" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-scrollable"> 
      <div class="modal-content">
        
        <!-- <div class="modal-header">
          <h5 class="modal-title" id="scrollingLongModalLabel2">Set Tune Parameters </h5>
          <button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close"><span class="fas fa-times fs--1"></span></button>
        </div> -->
        <div class="modal-body p-5 px-md-6">  
    
                <div class="col-lg-12"> 
                   
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label" for="ddlIntrRisk">Model ID</label>
                        <div class="col-sm-5">    
                            <select name="model_id" id="model_id" class="form-control">
                                {% for i in mdl_overview_obj %}
                                <option class="dropdown-item" value="{{i.mdl_id}}">{{i.mdl_id}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>  
  
                    </div> 
             
        </div>
        <div class="modal-footer">
            <div class="col-auto" style="display: flex; justify-content: flex-end;"> 
                <button type="button" class="btn btn-primary btn-sm" style="margin-right: 10px;" onclick="generate_task_ID()()" >Select</button>
                <button type="button" class="btn btn-primary btn-sm" style="margin-right: 10px;" onclick="closeModel()" >Cancel</button>
            </div>
        </div>
      </div>
    </div>
  </div>

<div>
    <form action="{% url 'task_registration'%}" onsubmit="myFunction()" id="target" method="post" enctype="multipart/form-data" class="form-horizontal"
        >
        {% csrf_token %}

        <div class="content" data-bs-target="#v-pills"  data-bs-spy="scroll" style="padding-top:0px;">
            <div class="mt-4">
              <div class="row g-4">
                <div class="col-12 col-xl-12 order-1 order-xl-0">
                  <div class="card shadow-none border border-300 my-4" data-component-card="data-component-card">
                    
                    <div class="card-body p-0">
                      
                      <div class="p-4 code-to-copy">
                        <div class="row">
                          <div class="col-sm-auto">
                            <div class="sticky-top" style="margin-top:-72px;padding-top:72px">
                              <div class="nav flex-column nav-pills" id="v-pills">
                                <a class="nav-link ps-0 ps-sm-3" href="#v-pills-home">Task Overview</a>
                                <a class="nav-link ps-0 ps-sm-3" href="#v-pills-design">Relevant Personnel</a>
                                <a class="nav-link ps-0 ps-sm-3" href="#v-pills-attributes">Relevant Dependencies</a>
                                <a class="nav-link ps-0 ps-sm-3" href="#v-pills-relatedmodels">Task Summary</a>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm">
                            <div style="border: 1px solid var(--phoenix-gray-200);padding: 10px;border-radius: 0.5rem;">
                              <h4 id="v-pills-home">Overview</h4>
                              <div class="row">
                                <div class="col-xl-12">
                                    <div class="row g-3 mb-6" style="margin-top:5px">
                                   
                                    <div>
                                        <div class="row form-group">
                                            <div class="col col-md-4">
                                                Department <span style="color: red;">*</span>
                                            </div>
                                            <div class="coldata-12 col-md-8">
                                                <input readonly type="text" id="department" name="department"
                                                    class="form-control-sm form-control" value="{{department_obj.data.dept_label}}"
                                                    style="width: 100%;font-size: 12pt;margin-bottom:15px"
                                                    required />
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-4">
                                                Originator <span style="color: red;">*</span>
                                            </div>
                                            <div class="col-12 col-md-8">
                                                <input readonly type="text" id="originator" name="originator"
                                                    class="form-control-sm form-control" value="{{originator_name}}"
                                                    style="width: 100%;font-size: 12pt;margin-bottom:15px;"
                                                    required />
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-4">
                                                Name <span style="color: red;">*</span>
                                            </div>
                                            <div class="col-12 col-md-8">
                                                <input   type="text" id="txt_Task_Name" name="txt_Task_Name"
                                                    class="form-control-sm form-control" maxlength="100"
                                                    style="width: 100%;font-size: 12pt;margin-bottom:15px;"
                                                    required />
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-4">
                                                Task Function <!--<span style="color: red;">*</span> -->
                                            </div>
                                            <div class="col-12 col-md-8">
                                            <select name="task_function" id="task_function" style="margin-bottom:15px;width:50%;" class="form-select" aria-label="Default select example"> 
                                                
                                                {% for i in task_function_obj %}
                                                <option class="dropdown-item" value="{{i.task_function_aid}}">{{i.task_function_label}}</option>
                                                {% endfor %}
                                            </select>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-4">
                                                Registration Date
                                                <span style="color: red;">*</span>
                                            </div>
                                            <div class="col-12 col-md-8">
                                                <input type="datetime" name="registration_date" id="registration_date" class="js-flatpickr form-control flatpickr-custom" style="margin-bottom:15px;width:30%;" placeholder="mm/dd/yyyy"
                                                data-hs-flatpickr-options='{
                                                "dateFormat":"m/d/Y"
                                                }'>
                                            </div>
                                             
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-4">
                                                Task Type <span style="color: red;">*</span>
                                            </div>
                                            <div class="col-12 col-md-8">
        
                                                <select required name="task_type" id="task_type" onchange="task_type_function()" style="margin-bottom:15px;width:50%;" class="form-select" aria-label="Default select example"> 
                                                    <!-- <option selected>Select Task</option> -->
                                                    {% for i in task_type_obj %}
                                                    <option class="dropdown-item" value="{{i.task_type_aid}}">{{i.task_type_label}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-4">
                                                Sub Task Type <span style="color: red;">*</span>
                                            </div>
                                            <div class="col-12 col-md-8">
                                                <select required name="sub_task_type" id="sub_task_type" style="margin-bottom:15px;width:50%;" class="form-select" aria-label="Default select example"> 
                                                    
                                                    
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-4">
                                                Task ID <span style="color: red;">*</span>
                                            </div>
                                            <div class="coldata-12 col-md-8">
                                                <input  type="text" id="task_id" name="task_id"
                                                    class="form-control-sm form-control" value=""
                                                    style="font-size: 12pt;margin-bottom:15px"
                                                    readonly/>
                                            </div>
                                            <input type="hidden" id="link_id" name="link_id" value="">
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-4">
                                                Priority <span style="color: red;">*</span>
                                            </div>
                                            <div class="col-12 col-md-8">
                                                <select required name="priority" id="priority" style="margin-bottom:15px;width:50%;" class="form-select" aria-label="Default select example"> 
                                        
                                                    {% for i in task_priority_obj %}
                                                    <option class="dropdown-item" value="{{i.task_priority_aid}}">{{i.task_priority_label}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-4">
                                                End Date 
                                                <span style="color: red;">*</span>
                                            </div>
                                            <div class="col-12 col-md-8">
                                                <input type="datetime" name="end_date" id="end_date" class="js-flatpickr form-control flatpickr-custom" style="margin-bottom:15px;width:30%;" placeholder="mm/dd/yyyy"
                                                data-hs-flatpickr-options='{
                                                "dateFormat":"m/d/Y"
                                                }'>
                                            </div>
                                        </div>
                                        <div class="row form-group" style="display: none;">
                                            <div class="col col-md-4">
                                                Completion Status <span style="color: red;">*</span>
                                            </div>
                                            <div class="coldata-12 col-md-8">
                                                <input type="number" id="txtModelNm" name="completion_status"
                                                    class="form-control-sm form-control" value=""
                                                    style="padding: 1px 5px;resize: none; width: 40%;font-size: 12pt;margin-bottom:15px"
                                                     />
                                            </div>
                                        </div>
                                        <div class="row form-group"  style="display: none;">
                                            <div class="col col-md-4">
                                                Approval Status<span style="color: red;">*</span>
                                            </div>
                                            <div class="col-12 col-md-8">
                                                <select  name="approval_status" id="approval_status" style="margin-bottom:15px;width:50%;" class="form-select" aria-label="Default select example"> 
        
                                                    {% for i in task_approval_master %}
                                                    <option class="dropdown-item" value="{{i.task_approvalstatus_aid}}">{{i.task_approvalstatus_label}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                            <div style="border: 1px solid var(--phoenix-gray-200);padding: 10px;border-radius: 0.5rem;margin-top: 15px;">
                              <h4 id="v-pills-design" style="margin-bottom: 15px;">Relevant Personnel</h4>
                              <div class="row">
                                <div class="col-xl-12">
                                    <div class="row form-group">
                                        <input type="hidden" id="relevant_personnel" name="relevant_personnel" value="True">
                                        <div class="col col-md-4">
                                            Originator <span style="color: red;">*</span>
                                        </div>
                                        <div class="col-12 col-md-8">
                                            <input readonly type="text" id="txtModelVersion" name="originator_relevant"
                                                class="form-control-sm form-control" value="{{originator_name}}"
                                                style="width: 100%;font-size: 12pt;margin-bottom:15px;"
                                                />
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-4">
                                            Assigned to <span style="color: red;">*</span>
                                        </div>
                                        <!-- Select -->
                                    <div class="tom-select-custom tom-select-custom-with-tags col-12 col-md-8" style="margin-bottom: 2%;">
                                        <select required class="js-select form-select" autocomplete="off" multiple id="assigned_to" name="assigned_to"
                                                data-hs-tom-select-options='{
                                                "placeholder": " Assigned to"
                                                }'>
                                                {% for i in users_obj %}
                                                <option class="dropdown-item" value="{{i.u_aid}}">{{i.u_fname |add:' '| add:i.u_lname}}</option>
                                                {% endfor %}
                                        </select>
                                    </div>
                                    <!-- End Select -->
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-4">
                                            Approved by <span style="color: red;">*</span>
                                        </div>
                                        <div class="tom-select-custom tom-select-custom-with-tags col-12 col-md-8" style="margin-bottom: 2%;">
                                            <select required class="js-select form-select" autocomplete="off" multiple name="approved_by" id="approved_by"
                                                    data-hs-tom-select-options='{
                                                    "placeholder": " Approved by"
                                                    }'>
                                                    {% for i in users_obj %}
                                                    <option class="dropdown-item"  value="{{i.u_aid}}">{{i.u_fname |add:' '| add:i.u_lname}}</option>
                                                    {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                            <div style="border: 1px solid var(--phoenix-gray-200);padding: 10px;border-radius: 0.5rem;margin-top: 15px;">
                              <h4 id="v-pills-attributes" style="margin-bottom: 15px;">Relevant Dependencies</h4>
                              <div class="row">
                                <div class="col-xl-12">
                                    <div class="row form-group">
                                        <div class="col col-md-4">
                                            Historical Dependency <span style="color: red;">*</span>
                                        </div>
                                        <div class="col-12 col-md-8">
                                            <input type="text" id="txtModelVersion" name="historical_dependency"
                                                class="form-control-sm form-control" value=""
                                                style="padding: 1px 5px;resize: none; width: 100%;font-size: 12pt;margin-bottom:15px;"
                                                />
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-4">
                                            Current Dependency <span style="color: red;">*</span>
                                        </div>
                                        <div class="col-12 col-md-8">
                                            <input type="text" id="txtModelVersion" name="current_dependency"
                                                class="form-control-sm form-control" value=""
                                                style="padding: 1px 5px;resize: none; width: 100%;font-size: 12pt;margin-bottom:15px;"
                                                />
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-4">
                                            Sub-Task Dependency <span style="color: red;">*</span>
                                        </div>
                                        <div class="col-12 col-md-8">
                                            <input type="text" id="txtModelVersion" name="sub_task_dependency"
                                                class="form-control-sm form-control" value=""
                                                style="padding: 1px 5px;resize: none; width: 100%;font-size: 12pt;margin-bottom:15px;"
                                                />
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div> 
                            <div style="border: 1px solid var(--phoenix-gray-200);padding: 10px;margin-top: 15px;border-radius: 0.5rem;">
                              <h4 id="v-pills-relatedmodels" style="margin-bottom: 15px;">Task Summary</h4>
                              <div class="row">
                                <div class="col-xl-12">
                                    <div class="row form-group">
                                        <input type="hidden" id="task_summery_check" name="task_summery_check" value="True">
                                        <div class="col col-md-4">
                                            Task Summary <span style="color: red;">*</span>
                                        </div>
                                        <div class="col-12 col-md-8">
                                            <div class="quill-custom">
                                                <div style="min-height: 15rem;margin-bottom: 20px;" id="editor_summ"></div>
                                                <input type="hidden" name="task_summery_comments" id="task_summery_comments">
                                                
                                              </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-4">
                                            Task Requirements <span style="color: red;">*</span>
                                        </div>
                                        <div class="col-12 col-md-8">
                                            <div class="quill-custom">
                                                <div style="min-height: 15rem;margin-bottom: 20px" id="editor_req"></div>
                                                <input type="hidden" name="task_requirements_comments" id="task_requirements_comments">
                                                
                                              </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-4">
                                            Assignee comments
                                        </div>
                                        <div class="col-12 col-md-8">
                                            <div class="quill-custom">
                                                <div style="min-height: 15rem;margin-bottom: 20px" id="editor_assignee"></div>
                                                <input type="hidden" name="task_assignee_comments" id="task_assignee_comments">
                                                
                                              </div>
                                        </div>
                                    </div>
                                    <!-- <div class="row form-group">
                                        <div class="col col-md-4">
                                            Approval<span style="color: red;">*</span>
                                        </div>
                                        <div class="col-12 col-md-8">
                                            <select name="approval" id="approval" style="margin-bottom:15px;width:50%;" class="form-select" aria-label="Default select example"> 
                                                <option value ="pending"selected>Pending</option>
                                                {% for i in task_approval_master %}
                                                <option class="dropdown-item" value="{{i.task_approvalstatus_aid}}">{{i.task_approvalstatus_label}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div> -->
                                    <div class="row form-group">
                                        <div class="col col-md-4">
                                            Approver Comments 
                                        </div>
                                        <div class="col-12 col-md-8">
                                            <div class="quill-custom">
                                                <div style="min-height: 15rem;margin-bottom: 20px" id="editor"></div>
                                                <input type="hidden" name="task_approver_comments" id="task_approver_comments">
                                                
                                              </div>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>

                            <div class="col-12 gy-6" style="margin-top: 15px;">
                              <div class="row g-3 justify-content-end">
                                <div class="col-auto">
                                  <button class="btn btn-phoenix-primary px-5" type="button" onclick="abk()">Cancel</button>
                                </div>
                                <div class="col-auto">
                                  <button class="btn btn-primary px-5 px-sm-15" type="submit">Add Task</button>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                      </div>
                  </div>
                </div> 
              </div>
            </div> 
          </div>
          
            </div>
    </form>
</div>
<!-- <script src="assets/js/flatpickr.js"></script> -->
<script src="{% static 'Front/dist/assets/vendor/jquery/dist/jquery.min.js' %}"></script>

<script src="{% static 'Front/dist/assets/vendor/quill/dist/quill.min.js' %}"></script>
<script src="{% static 'Front/dist/assets/vendor/flatpickr/dist/flatpickr.min.js' %}"></script>
<script src="{% static 'Front/dist/assets/vendor/tom-select/dist/js/tom-select.complete.min.js' %}"></script>


<script>
    var toolbarOptions=[
            ["bold", "italic", "underline", "strike", "link", "blockquote", "code",  {"list": "bullet"}]
          ]

    var quill = new Quill('#editor', {
        theme: 'snow',
        modules: {
            toolbar: toolbarOptions
         }
    });

    var quill_assignee = new Quill('#editor_assignee', {
        theme: 'snow',
        modules: {
            toolbar: toolbarOptions
         }
    });

    var quill_req = new Quill('#editor_req', {
        theme: 'snow',
        modules: {
            toolbar: toolbarOptions
         }
    });

    var quill_summ = new Quill('#editor_summ', {
        theme: 'snow',
        modules: {
            toolbar: toolbarOptions
         }
    });

    var form = document.querySelector('form');
    var editorContentInput_approver = document.getElementById('task_approver_comments');       // Approver comments
    var editorContentInput_asignee = document.getElementById('task_assignee_comments');        //assignee comments
    var editorContentInput_req = document.getElementById('task_requirements_comments');        //req comments
    var editorContentInput_summ = document.getElementById('task_summery_comments');        //summery comments
 
    // console.log("data",editorContentInput_approver)
    form.onsubmit = function() {
        // Approver comments

        var content_approver = quill.root.innerHTML;
        editorContentInput_approver.value = content_approver;
        
        //assignee comments
        var content_asignee = quill_assignee.root.innerHTML;
        editorContentInput_asignee.value = content_asignee;

        //req comments
        var content_req = quill_req.root.innerHTML;
        editorContentInput_req.value = content_req;

        //summery comments
        var content_sum = quill_summ.root.innerHTML;
        editorContentInput_summ.value = content_sum;
        
    };
</script>


<script>
    $(function(){ 
        
        flatpickr("#end_date", {
            "dateFormat":"m/d/Y",
            "locale": {
                    "firstDayOfWeek": 1 // start week on Monday
                }
        })

        flatpickr("#registration_date", {
            "dateFormat":"m/d/Y",
            "locale": {
                    "firstDayOfWeek": 1 // start week on Monday
                }
        })
        var originatorid='{{originatorid| safe }}'  
    var assigneelst='{{assigned_to_arr| safe }}';
    assigneelst=JSON.parse(assigneelst)
    $("#approved_by").val(originatorid)
    
    var task_assignee_thread_lst='{{task_assignee_thread_lst| safe }}';
    task_assignee_thread_lst=JSON.parse(task_assignee_thread_lst)
            task_assignee_thread_lst.forEach(i => {
                sendNotification('New Task|New task id assigned to you.'.replace('id', task_id),i.from,i.to,i.thread_id); 
            
            });
            
            var task_approver_thread_lst='{{task_approver_thread_lst| safe }}';
            task_approver_thread_lst=JSON.parse(task_approver_thread_lst)
            task_approver_thread_lst.forEach(i => {
             
            sendNotification('New Task|New task id for approval.'.replace('id', task_id),i.from,i.to,i.thread_id); 
            });
     //sendNotification('New Task|New task assigned to you.',originatorid,arrayelement_assignee,1); assignnee

     //sendNotification('New Task|New task for approval.',originatorid,arrayelement_approver,1); forapproval
    }
    );
    function generate_task_ID(){
        $.ajax({ 
        type:'GET',
        url: "{% url 'generate_task_ID' %}",
        data:{'model_id':$('#model_id').val(),'task_type':$('#task_type').val(),'task_Lbl':$('#task_type option:selected').text()},
        dataType: 'json',
        success: function (data) {  
          console.log('data',data)  
          console.log('data',typeof(data))   
          document.getElementById("task_id").value=data.task_id
          document.getElementById("link_id").value=data.model_id
          $("#divTune").modal("hide");
        }
        });
    }
    function closeModel(){
        $("#divTune").modal("hide");
    }
    function myFunction(){

        alert('Task registred Successfully.')
    }
    function abk(){ 
        var url = "{% url 'getTasks' %}";
        document.location.href = url;
        
    }
    function task_type_function()
    {  
      $.ajax({ 
        type:'GET',
        url: "{% url 'get_sub_task_type' %}",
        data:{'task_type':$('#task_type').val()},
        dataType: 'json',
        success: function (data) {  
          console.log('data',data)  
          console.log('data',typeof(data))

          previous_data=$('#sub_task_type option').text()
          console.log("previous_data",previous_data)  
          if (previous_data){
            console.log("if")
            $("#sub_task_type option").remove();   
          }
          for (const [key, value] of Object.entries(data)) {
            console.log('Data',`${key}`, `${value}`);
            var option = $('<option />');
            option.attr('value',`${key}`).text(`${value}`);

            $('#sub_task_type').append(option);
            }
            if ($('#task_type option:selected').text() == "Model"){
                
                $("#divTune").modal("toggle");
            }
            else{
                generate_task_ID();
            }

        //   for (i of data) {
        //     // console.log(i); //
        //     var option = $('<option />');
        //     option.attr('value',i).text(i);

        //     $('#sub_task_type').append(option);
        //     }
             
                  
        }
        });
    }
    
</script>
{% endblock content %}