{% extends 'adminbase.html' %} 
{% load static %} 
{% block content %}
<form id="formuser" class="row g-3">
    
<div class="content" style="padding-top:0px;width:50%;margin-left: 25%"> 
    <div class="card shadow-none border border-300 my-4" data-component-card="data-component-card">
        <div class="card h-100">
        <div class="col-auto" style="width:100%; background-color:#e0edff;height:38px;border-bottom:solid 1px #ddd; -webkit-border-top-left-radius: 6px;
                    -webkit-border-top-right-radius: 6px;
                    -moz-border-radius-topleft: 6px;
                    -moz-border-radius-topright: 6px;
                    border-top-left-radius: 6px;
                    border-top-right-radius: 6px;">
              <h4 style="color:#3e465b; padding:10px 20px">Add User</h4>
            </div>
        <div class="card-body p-0">
        
            <div class="p-4 code-to-copy"> 
                <div class="row mb-3 position-relative">
                    <label class="col-sm-4 col-form-label" for="txtuname">Username</label>
                    <div class="col-sm-8">
                        {% if u_name %}
                        <input readonly {{isDisabled}} class="form-control" value="{{u_name}}" id="txtuname" type="text" required="" maxlength="20">
                        {% else %}
                        <input class="form-control" id="txtuname" type="text" required="" maxlength="20" onblur="checkUsername()">
                        {% endif %}
                        <!-- <div class="invalid-tooltip">Please choose a unique and valid username.</div> -->
                    </div>
                </div>
               
                <div class="row mb-3 position-relative">
                    <label class="col-sm-4 col-form-label" for="inputPassword3">Department</label>
                    <div class="col-sm-8">                       
                    <select class="form-select" id="ddldept" onchange="getReportsto()" aria-label="Default select example" required>     
                        {% if u_depart_name %}
                            <option value="{{u_depart_id}}">{{u_depart_name}}</option>
                        {% else %}       
                        <option value="null">Select Department</option>
                        {% endif %}  
                            
                        {% for val in dept   %} 
                        
                        <option value="{{val.dept_aid}}">{{val.dept_label}}</option>
                      
                        {% endfor %} 
                    </select>
                    <div class="invalid-tooltip">Please choose a department.</div>
                    </div>
                </div>

                <!-- Added on 2023.10.09 Starts-->                
                <fieldset>
                    <div class="row mb-3 position-relative">
                        <label class="col-sm-4 col-form-label" for="txtuname">If BackUp User </label>
                        <div class="col-sm-2">
                            <div class="form-check"> 
                                {% if IfBackupUser == True %}
                                <input class="form-check-input" id="rbBackUpYes" type="radio" name="rbBackUp" value="1" checked="">
                                {% else %}
                                <input class="form-check-input" id="rbBackUpYes" type="radio" name="rbBackUp" value="1">
                                {% endif %}              
                                <label class="form-check-label" for="rbBackUp">Yes</label> 
                            </div>  
                        </div>  
                        <div class="col-sm-1"> 
                            <div class="form-check">
                                {% if IfBackupUser == False %}
                                <input class="form-check-input" id="rbBackUpNo" type="radio" name="rbBackUp" value="0" checked="">
                                {% else %}
                                <input class="form-check-input" id="rbBackUpNo" type="radio" name="rbBackUp" value="0">
                                {% endif %}                     
                                <label class="form-check-label" for="rbBackUp">No</label>
                            </div>  
                        </div>                   
                    </div>  
                </fieldset>
                <fieldset  id="SelectBackUpUserFor">
                    <div class="row mb-3 position-relative"> <!--{{DisplayBackUp}} -->
                        <label class="col-sm-4 col-form-label" for="inputPassword3">BackUp For</label>
                        <div class="col-sm-8">      
                        <select  class="form-select" data-choices="data-choices" onchange="GetBackUpData()" data-options='{"removeItemButton":false,"placeholder":true}' name="ddlBackupFor" id="ddlBackupFor">                            
                        
                            {% if BackUpFor_UID %}
                                <option value="{{BackUpFor_UID}}">{{BackUpFor_User}}</option>
                            {% else %}       
                            <option value="null">Select Backup For</option>
                            {% endif %}        
                            {% for   val in backupfor   %} 
                            {% if BackUpFor_UID != val.u_aid %}
                            <option value="{{val.u_aid}}">{{val.u_name}}</option>
                            {% endif %}
                            {% endfor %} 
                        </select> 
                        </div>
                    </div>
                    <div class="row mb-3 position-relative">
                        <label class="col-sm-4 col-form-label" for="txtenddate">Date Range</label>
                        <div class="col-sm-4">
                            <input class="form-control datetimepicker" id="txtStartDate" readonly  name="txtStartDate" type="text" placeholder="mm/dd/yyyy" data-options='{"disableMobile":true,"dateFormat":"m/d/Y"}' onchange="CompareDate('txtStartDate')" />                        
                        </div>
                        <div class="col-sm-4">
                            <input class="form-control datetimepicker" id="txtEndDate" readonly  name="txtEndDate" type="text" placeholder="mm/dd/yyyy" data-options='{"disableMobile":true,"dateFormat":"m/d/Y"}' onchange="CompareDate('txtEndDate')" />                        
                        </div>
                    </div>
                    <!-- Added on 2023.10.16 Starts -->
                    <div class="row mb-3 position-relative">
                        <label class="col-sm-4 col-form-label" for="inputPassword3">BackUp User</label>
                        <div class="col-sm-8">
                        <input type="hidden" id="hd_backup_user" value="{{backupUser}}" >                        
                        <select class="form-select" id="ddl_backup_user" aria-label="Default select example" onchange="GetUserNameData()">                      
                            {% if reports_to_user %}
                            <option value="{{backupUser}}">{{reports_to_user}}</option>
                            {% endif %}
                        </select>
                        <div class="invalid-tooltip">Please choose backup user.</div>
                        </div>
                    </div>
                    <!-- Added on 2023.10.16 Ends -->
                </fieldset>
                <!-- Added on 2023.10.09 Ends-->
                
                <div class="row mb-3 position-relative">

                    <label class="col-sm-4 col-form-label" for="inputPassword3">User Type</label>
                    <div class="col-sm-8">
                        
                    <select class="form-select" id="ddlutype" onchange="getReportsto()" aria-label="Default select example" required>
                        {% if u_type %}
                            <option value="{{u_type_id.uc_aid}}">{{u_type}}</option>
                        {% else %}
                        <option  value="">Select User Type</option>
                        {% endif %}
                        {% for val in utype  %} 
                        {% if u_type != val.uc_label %}
                        <option value="{{val.uc_aid}}">{{val.uc_label}}</option>
                        {% endif %}
                        {% endfor %}
                        <!-- <option value="1">Owner</option>
                        <option value="2">Developer</option>
                        <option value="3">Validator</option> -->
                    </select>
                    <div class="invalid-tooltip">Please choose a user type.</div>
                    </div>
                </div>
                <div class="row mb-3 position-relative">
                    <label class="col-sm-4 col-form-label" for="inputPassword3">Reports To</label>
                    <div class="col-sm-8">
                    <input type="hidden" id="reports_to_data" value="{{reportsto}}" >
                    
                    <select class="form-select" id="ddlreportsto" aria-label="Default select example">                      
                        {% if reports_to_user %}
                        <option value="{{reportsto}}">{{reports_to_user}}</option>
                        {% endif %}
                    </select>
                    <div class="invalid-tooltip">Please choose a department.</div>
                    </div>
                </div>   

                <div class="row mb-3 position-relative">

                    <label class="col-sm-4 col-form-label" for="txtfname">First Name</label>

                    <div class="col-sm-8">
                    
                    <input class="form-control" value="{{u_first_name}}" id="txtfname" type="text" maxlength="20" required=""> 
                    <div class="invalid-tooltip">Please enter first name.</div>
                    </div>
                </div>

                <div class="row mb-3 position-relative">

                    <label class="col-sm-4 col-form-label" for="txtlname">Last Name</label>

                    <div class="col-sm-8">

                    <input class="form-control" value="{{u_last_name}}" id="txtlname" maxlength="20" type="text" required>
                    <div class="invalid-tooltip">Please enter last name.</div>
                    </div>
                </div>
                <div class="row mb-3 position-relative">

                    <label class="col-sm-4 col-form-label"  for="txtemail">Email address</label>
                    <div class="col-sm-8">
                        <input class="form-control" value="{{u_email}}" id="txtemail" type="email"  onblur="validateEmail()" maxlength="30" placeholder="name@example.com" required />
                        <div class="invalid-tooltip">Please enter email address.</div>
                    </div>
                </div>
                <fieldset>
                    <div class="row mb-3">

                        <label class="col-form-label col-sm-4 pt-0">Active Status</label>

                        <div class="col-sm-2">

                            <div class="form-check">
                            {% if u_status == True %}
                            <input class="form-check-input" id="rbactive" type="radio" name="rbactivests" value="1" checked="">
                            {% else %}
                            <input class="form-check-input" id="rbactive" type="radio" name="rbactivests" value="1">
                            {% endif %}
                            <label class="form-check-label" for="rbactive">Active</label>
                            </div>  
                        </div>
                        <div class="col-sm-1"> 
                            <div class="form-check">
                            {% if u_status == False %}
                            <input class="form-check-input" id="rbinactive" type="radio" name="rbactivests" value="0" checked="">
                            {% else %}
                            <input class="form-check-input" id="rbinactive" type="radio" name="rbactivests" value="0">
                            {% endif %}
                            <label class="form-check-label" for="rbinactive">Inactive</label>
                            </div> 
                        </div>
                    </div>
                </fieldset>
                
                <!-- <div class="row mb-3">

                    <label class="col-form-label col-sm-4 pt-0">Profile Image</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="file" id="profilepic" formnovalidate="formnovalidate" />
                    </div>
                </div>  -->

                <div class="col-12 gy-6">
                    <div class="row g-3 justify-content-end">
                      <div class="col-auto">
                        <button class="btn btn-phoenix-primary px-5" type="button" onclick="gotolist()">Cancel</button>
                      </div>
                      <div class="col-auto">
                        {% if u_name %} 
                        <input type="hidden" id="update_id" value="{{id}}" >
                        <input type="button"  class="btn btn-primary px-5 px-sm-5" onclick="validateform()" value="Update" /> 
                        {% else %}
                        <input type="button"  class="btn btn-primary px-5 px-sm-5" onclick="validateform()" value="Add" />
                        {% endif %}
                      </div>
                     
                    </div>
                  </div>
            </div>
        </div>
    </div>
    
    
</div>
</form>
{% endblock content %}
{% block script %}
<script type='text/javascript' >
    $(document).ready(function(){
        //$('#SelectBackUpUserFor').css('visibility','hidden');
        $('#SelectBackUpUserFor').css('display','none');
        $("#ddlreportsto").prop("disabled", false);
        $("#ddldept").prop("disabled", false);
        $("#ddlutype").prop("disabled", false);

        $("#txtuname").prop("disabled", false);
        //$("#ddl_backup_user").prop("disabled", false);
        //$("#txtStartDate").prop("disabled", false);
        //$("#txtEndDate").prop("disabled", false);

        var IfBackUp=String("{{IfBackupUser}}");      
        if(IfBackUp=="True"){
            $('#SelectBackUpUserFor').css('display','block');
            $("#ddlreportsto").prop("disabled", true);
            $("#ddldept").prop("disabled", true);
            $("#ddlutype").prop("disabled", true);

            $("#txtuname").prop("disabled", true);
            //$("#ddl_backup_user").prop("disabled", true);
            //$("#txtStartDate").prop("disabled", true);
            //$("#txtEndDate").prop("disabled", true);
        }
        $("input#txtuname").on({
            keydown: function(e) {
                if (e.which === 32)
                return false;
            },
            change: function() {
                this.value = this.value.replace(/\s/g, "");
            } 
            }); 
    });

    function validateform(){      
        if($('#txtuname').val()=='' || $('#ddlutype').val()=='' ||  $('#txtfname').val()=='' || 
        $('#txtlname').val()=='' || $('#txtemail').val()=='')
        {
            alert('Please fill all the values.')
            return false;
        }
       
        $.ajax({
            url: '/addUser/', 
            data:{update_id:$("#update_id").val(),'reportsto':$("#ddlreportsto").val(),'dept_aid': $("#ddldept").val(),uname: $("#txtuname").val(),utype: $("#ddlutype").val(),fname: $('#txtfname').val(),lname: $('#txtlname').val(),email:$('#txtemail').val() ,activests:$('input[name="rbactivests"]:checked').val(), isBackup:$('input[name="rbBackUp"]:checked').val(), backUpFor:$('#ddlBackupFor').val(), backUp:$('#ddl_backup_user').val(), StartDate:$('#txtStartDate').val(), EndDate:$('#txtEndDate').val()},
           dataType: 'json',   
            success: function (data) { 
               if(data.isvalid=='true'){
                alert('User Created Succcessfully.')
               }
               else if(data.isvalid=='update'){
                alert('User updated successfully.')
               }
               else
               {
                alert('Error while creating user.')
               }
            }
        });
    }

    function checkUsername(){ 
        var username =$("#txtuname").val();
        var isValid = /^[a-zA-Z0-9 _ @]*$/.test(username);
        var length = username.length;
        if (isValid && (length > 4) && (length < 20))
            console.log('valid username')
        else{
            alert('invalid username')
            $("#txtuname").val(''),
            $("#txtuname").focus();
            return;
        }
        $.ajax({
            url: '/checkValue/', 
            data:{val: $("#txtuname").val(),'tbl':'users' },
           dataType: 'json',   
            success: function (data) { 
               if(data.cnt!='0'){
                $("#txtuname").val('')
                alert('User name already exists.')
               }
               
            }
        });
    }
    // var reportsto='{{reportsto| safe }}';
    // console.log("reports_to",reports_to)

    var reports_to= $('#reports_to_data').val() 
    function getReportsto(){ 
        var $mySelect = $('#ddlreportsto'); 
        // var reports_to= $('#reports_to_data')
        // console.log("reports_to",reports_to)

        $mySelect.empty();
        var $option = $("<option/>", {
                        value: "null",
                        text: "Select"
                    });
        $mySelect.append($option);
        $.ajax({
            url: '/getReportsTo/', 
            data:{uc_aid: $("#ddlutype").val(),'dept_aid': $("#ddldept").val()},
            dataType: 'json',   
            success: function (data) { 
                // if(reports_to){

                // }
                console.log("data",data)
                //alert(JSON.stringify(data.reportsto))
                $.each(data.reportsto, function(key, value) { 
                    var $option = $("<option/>", {
                        value: value.u_aid,
                        text: value.u_name
                    });
                    $mySelect.append($option);
                });
               
            }
        }); 
    }

    function gotolist(){
        window.location='{{rmse_users}}';
    }

    function validateEmail(){
        $.ajax({
            url: '/checkValue/', 
            data:{val: $("#txtemail").val(),dept: $("#ddldept").val(),utype: $("#ddlutype").val(),'tbl':'email' },
            dataType: 'json',   
            success: function (data) { 
                console.log(data)
               if(data.cnt!='0'){
                $("#txtemail").val('')
                alert('Email already exists.')
               }
               
            }
        });
    }

    $(function() {
        $('input[name="rbBackUp"]').on('click', function() {
            if ($(this).val() == '0') {
                // $('#SelectBackUpUserFor').hide();
                //$('#SelectBackUpUserFor').css('visibility','hidden');
                $('#SelectBackUpUserFor').css('display','none');
                
                $("#ddldept").val($("#ddldept option:first").val());
                $("#ddlutype").val($("#ddlutype option:first").val());
                $("#ddlreportsto").val('');

                $("#txtuname").val('');
                $("#txtStartDate").val('');
                $("#txtEndDate").val('');
                $("#ddl_backup_user").val($("#ddl_backup_user option:first").val());

                $("#ddlreportsto").prop("disabled", false);
                $("#ddldept").prop("disabled", false);
                $("#ddlutype").prop("disabled", false);

                $("#txtuname").prop("disabled", false);
                //$("#ddl_backup_user").prop("disabled", false);
                //$("#txtStartDate").prop("disabled", false);
                //$("#txtEndDate").prop("disabled", false);

                $("#txtfname").prop("disabled", false);
                $("#txtlname").prop("disabled", false);
                $("#txtemail").prop("disabled", false);  
                $('input:radio[id=rbactive]').prop("disabled", false);
                $('input:radio[id=rbactive]').removeAttr('checked');    
            }
            else {
                // $('#SelectBackUpUserFor').show();
                //$('#SelectBackUpUserFor').css('visibility','visible');
                $('#SelectBackUpUserFor').css('display','block');
                $("#ddlreportsto").prop("disabled", true);
                $("#ddldept").prop("disabled", true);
                $("#ddlutype").prop("disabled", true);

                $("#txtuname").prop("disabled", true);
                //$("#ddl_backup_user").prop("disabled", true);
                //$("#txtStartDate").prop("disabled", true);
                //$("#txtEndDate").prop("disabled", true);

                $("#txtfname").prop("disabled", true);
                $("#txtlname").prop("disabled", true);
                $("#txtemail").prop("disabled", true);  
                $('input:radio[id=rbactive]').prop("disabled", true);
            }
        });
    })
   
    function GetBackUpData(){
        var sBackUpForID=$("#ddlBackupFor").val();
        $.ajax({
            url: '/BackupFor_userdetails/', 
            data:{backupforid: $("#ddlBackupFor").val() },
            dataType: 'json',   
            success: function (data) { 
                console.log(data)
                var $mySelect = $('#ddlreportsto'); 
                $mySelect.empty();
                var $option = $("<option/>", {
                                value: data.reportsto,
                                text:data.reports_to_user
                            });
                $mySelect.append($option); 
                $("#ddldept").val(data.u_depart_id);               
                $("#ddlutype").val(data.u_type_id);     
                
                var ddlbackup = $('#ddl_backup_user'); 
                ddlbackup.empty();
                var $option = $("<option/>", {
                                value:'',
                                text:'Select'
                            });
                ddlbackup.append($option);         
                console.log(data)
                $.each(data.backup, function(key, value) {     
                    if(sBackUpForID!=value.U_AID){
                        var $option = $("<option/>", {
                                value:value.U_AID,
                                text:value.U_Name
                            });
                        ddlbackup.append($option); 
                    }
                });
            }
        });
    }

    function GetUserNameData(){
        var sSelectedUserName=$("#ddl_backup_user option:selected").text();
        $.ajax({
            url: '/Backup_userdetails/', 
            data:{backupid: $("#ddl_backup_user").val() },
            dataType: 'json',   
            success: function (data) { 
                $("#txtfname").prop("disabled", true);
                $("#txtlname").prop("disabled", true);
                $("#txtemail").prop("disabled", true);  
                $("#rbactive").prop("disabled", true);

                $("#txtfname").val(data.u_f_name);               
                $("#txtlname").val(data.u_l_name);  
                $("#txtemail").val(data.u_email);      
                $('#txtuname').val(sSelectedUserName+"_backup");   
                $("input:radio[id=rbactive][value='1']").prop('checked', true);   
            }
        });
    }

    function CompareDate(CntrlId){        
        var from = $("#txtStartDate").val();
        var to = $("#txtEndDate").val();
        if(!(from=="" || to=="") && Date.parse(from) > Date.parse(to)){
            $('#'+CntrlId).val('');
            alert("From Date cannot be greater than To Date");
        }
    }
</script>
{% endblock script %}