{% extends 'base.html' %} 
{% load static %}  
{% block style %}
<style>
    table, th, td {
  border: 0px solid gray;
  border-collapse: collapse;
  padding: 0px 5px;
  vertical-align: top;
}
</style>
{% endblock style %}
{% block content %}
<form id="forICQQtns"  method="post" action="{{FLQtns}}" class="row g-3">
    {% csrf_token %}
<div class="content" style="padding-top:0px;width:96%;margin-left: 2%"> 
    <div class="card shadow-none border border-300 my-4" data-component-card="data-component-card">
        <div class="card h-100">
            <div class="col-auto" style="width:100%; background-color:#e0edff;height:38px;border-bottom:solid 1px #ddd; -webkit-border-top-left-radius: 6px;
                        -webkit-border-top-right-radius: 6px;
                        -moz-border-radius-topleft: 6px;
                        -moz-border-radius-topright: 6px;
                        border-top-left-radius: 6px;
                        border-top-right-radius: 6px;">
                  <h4 style="color:#3e465b; padding:10px 20px">MRM Internal Control Questionnaire</h4>
                </div>  
        <div class="card-body p-0">
        
            <div class="p-4 code-to-copy">            
                <div  style="height: 380px;overflow: auto; padding-left: 25px;padding-inline-start: 25px;">
                    <div class="row mb-3 position-relative" style="width: 100%;">
                        <table style="color:#3e465b;"> 
                            <tbody>
                                {% for key, val in Qtns.items  %} 
                                         
                                    {% if  val.Sub_Sub_Section_Label != '' %}
                                    <tr class="tr_{{val.Section_AID}}"  style="display: none;"> 
                                        <td  style="margin-left: 0px;" >       {{ val.qtnNo }} </td>
                                        <td colspan="4" style="margin-left: 0px;">   {{val.Sub_Sub_Section_Label}}  </td>
                                    </tr>                                         
                                    {% elif   val.Sub_Section_Label != '' %}
                                    <tr class="tr_{{val.Section_AID}}"  style="display: none;"> 
                                        <td  style="margin-left: 0px;">       {{ val.qtnNo }} </td>
                                        <td colspan="4" style="margin-left: 0px;">  {{ val.Sub_Section_Label }}    </td>
                                    </tr>
                                    {% elif   val.Section_Label != '' %}
                                        <tr id="tr_{{val.Section_AID}}" style="height: 30px; background-color: #EDE7E6;">
                                            <td colspan="5" style="margin-left: 0px;vertical-align: middle;">   
                                                <div class="row position-relative">  
                                                    <div style='width:17px;'>
                                                        <i id='exp_{{val.Section_AID}}' class='bi bi-plus-square' style='margin-right:5px;cursor:pointer;' 
                                                        onclick="hidedata('tr_{{val.Section_AID}}')"></i></div>
                                                    <div class="col-auto" style="padding-left: 5px;color:#3e465b;"><b>{{val.Section_Label}}</b></div> 
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td> <div style="height: 10px;"></div></td>
                                        </tr>
                                        
                                        <tr class="tr_{{val.Section_AID}}"  style="display: none;">
                                            <th width="7%" style="vertical-align: top;text-align: center;" >Q #</th>
                                            <th width="35%" style="vertical-align: top;text-align: center;">Questions</th>
                                            <th  width="10%" style="vertical-align: top;text-align: center;">Yes/No/NA</th>
                                            <th  width="38%" style="vertical-align: top;text-align: center;">Comments</th> 
                                            <th  width="38%" style="vertical-align: top;text-align: center;">Control Description</th> 
                                            <th  width="10%" style="vertical-align: top;text-align: center;" id="Inherent">Inherent Risk Rating</th>
                                            <th  width="10%" style="vertical-align: top;text-align: center;" id="controleffectiveness" >Control Effectiveness Ratings</th>
                                            <th  width="10%" style="vertical-align: top;text-align: center;" id="Residual" >Residual Ratings</th>
                                            
                                        </tr>
                                    {% endif %}                                                               
                                    
                                    {% if val.qtnsArr != "" %}
                                    
                                    <input type="text" value="{{val.qtn_aid}}" id="question_id" hidden>
                                    <tr class="tr_{{val.Section_AID}}" style="display: none;">      
                                        <td style="margin-left: 5px;">{{ val.qtnNo }} </td>                                     
                                        <td style="margin-left: 5px;">   {{val.qtnsArr}}</td>  
                                        <td style="vertical-align: top" onchange="showratings({{val.qtn_aid}})">
                                            <select style="width: 94%;margin-left: 3%;margin-top:3px;text-align: center;" id="ddl_yesno_{{val.qtn_aid}}">
                                                <option value="">Select</option>   
                                                <option value="Yes" {% if val.Rating_Yes_NO == 'Yes' %}selected{% endif %}> Yes</option>    
                                                <option value="No" {% if val.Rating_Yes_NO == 'No' %}selected{% endif %}>No</option>
                                                <option value="NA" {% if val.Doc_Yes_No == 'NA' %}selected{% endif %}>NA</option>
                                            </select> 
                                        </td>
                                        <td style="vertical-align:top">
                                            <textarea style="width: 94%;margin-left: 3%;margin-top:3px;" maxlength="100" rows="2" id="txt_comment_{{val.qtn_aid}}">{{val.comments}}</textarea>
                                        </td>  
                                        <td style="vertical-align:top">
                                            {% if val.Control_Description != None %}
                                            <textarea style="width: 94%;margin-left: 3%;margin-top:3px;" maxlength="100" rows="2" id="txt_control_desc_{{val.qtn_aid}}">{{val.Control_Description}}</textarea>
                                            {% else %}
                                            <textarea style="width: 94%;margin-left: 3%;margin-top:3px;" maxlength="100" rows="2" id="txt_control_desc_{{val.qtn_aid}}"></textarea>
                                            {% endif %}
                                        </td> 
                                        
                                        <td style="vertical-align: top" id="Inherent_data">
                                            {% if val.Rating_Yes_NO == 'Yes' %}
                                            <select style="width: 94%;margin-left: 3%;margin-top:3px;text-align: center;" id="ddl_InherentRisk_{{val.qtn_aid}}" >
                                                <option value="select">Select</option> 
                                                
                                                {% for i in rating_1  %} 
                                                    
                                                <option value="{{i}}" {% if i == val.Inherent_Risk_Rating %}selected{% endif %}> {{i}}</option> 
                                                {% endfor %}   
                                                
                                                <!-- <option value="Moderate" >Moderate</option> 
                                                <option value="Low">Low</option> -->
                                            </select> 
                                            {% else %}
                                                    <select style="width: 94%;margin-left: 3%;margin-top:3px;text-align: center;" id="ddl_InherentRisk_{{val.qtn_aid}}" disabled>
                                                    <option value="select">Select</option> 
                                                    
                                                    {% for i in rating_1  %} 
                                                        
                                                    <option value="{{i}}" {% if i == val.Inherent_Risk_Rating %}selected{% endif %}> {{i}}</option> 
                                                    {% endfor %}   
                                                    
                                                    <!-- <option value="Moderate" >Moderate</option> 
                                                    <option value="Low">Low</option> -->
                                                </select> 
                                            {% endif %}
                                        </td>
                                        <td style="vertical-align: top" id="controleffectiveness_data" >
                                            {% if val.Rating_Yes_NO == 'Yes' %}
                                                <select style="width: 94%;margin-left: 3%;margin-top:3px;text-align: center;" id="ddl_ControllEffectiveness_{{val.qtn_aid}}"  onchange="fetchResidual({{val.qtn_aid}})" >
                                                    <option value="select">Select</option>   
                                                    {% for i in rating_2  %}
                                                    <option value="{{i}}" {% if i == val.Control_Effectiveness_Ratings %}selected{% endif %}> {{i}}</option>  
                                                        <!-- <option value="{{i.ratings}}" > {{i.ratings}}</option>  -->
                                                    {% endfor %} 
                                                </select>
                                            {% else %}
                                                <select style="width: 94%;margin-left: 3%;margin-top:3px;text-align: center;" id="ddl_ControllEffectiveness_{{val.qtn_aid}}"  onchange="fetchResidual({{val.qtn_aid}})" disabled>
                                                    <option value="select">Select</option>   
                                                    {% for i in rating_2  %}
                                                    <option value="{{i}}" {% if i == val.Control_Effectiveness_Ratings %}selected{% endif %}> {{i}}</option>  
                                                        <!-- <option value="{{i.ratings}}" > {{i.ratings}}</option>  -->
                                                    {% endfor %} 
                                                </select>
                                            {% endif %}
                                        </td>
                                        <td style="vertical-align: top" id="Residual_data">
                                            <select style="width: 94%;margin-left: 3%;margin-top:3px;text-align: center;" id="ddl_Residual_{{val.qtn_aid}}" disabled>
                                                <option value="select">Select</option> 
                                                {% for i in rating_3  %}  
                                                <option value="{{i}}" {% if i == val.Residual_Ratings %}selected{% endif %}> {{i}}</option>  
                                                    <!-- <option value="{{val.Residual_Ratings}}" > {{val.Residual_Ratings}}</option>  -->
                                                {% endfor %} 
                                        </select>
                                        </td>
                                          
                                    </tr>
                                     {% endif %} 
                                        
                                {% endfor %} 
                            </tbody>
                        </table> 
                    </div>           
                </div>

                <div class="col-12 gy-6" style="padding-top:25px ;">
                    <div class="row g-3 justify-content-end">
                      <div class="col-auto"> 
                        <input type="button" class="btn btn-phoenix-primary px-5" onclick="gotolist()"   value="Cancel"/>
                      </div>
                     
                      <div class="col-auto">
                        <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Submit</button>
                      </div>
                      <div class="col-auto">
                        <input type="button"  class="btn btn-primary px-5 px-sm-5" onclick="validateform()" value="Save" /> 
                      </div>    
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Submit Data</h5>
              <button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close"><span class="fas fa-times fs--1"></span></button>
            </div>
            <div class="modal-body">
              <p class="text-700 lh-lg mb-0">Are you sure you want to submit data. Once submitted you can not change the data. </p>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" type="button" onclick="submitRatings()">Yes</button>
              <button class="btn btn-outline-primary" type="button" data-bs-dismiss="modal">No</button>
            </div>
          </div>
        </div>
      </div>
    
</div>
</form>
{% endblock content %}
{% block script %}
<script src="{% static 'Front/dist/assets/vendor/jquery/dist/jquery.min.js' %}"></script>  
<script type='text/javascript' >
    $( document ).ready(function() { 
    $("#ddlModel").val('{{modelid|safe}}')
    $('#ddlSection').val('{{sectionid|safe}}')
    // var qtn_id = {{Qtns|safe}}
    // console.log("question_id",qtn_id)
    
    
});

    function showratings(id){
        debugger
        a = $('#ddl_yesno_'+id).val()
        if( a == 'Yes'){
            // Inherent , controleffectiveness ,Residual                                        
            // ddl_InherentRisk_,ddl_ControllEffectiveness_,ddl_Residual_
            var inherent = "ddl_InherentRisk_"+id
            const dropdown = document.getElementById(inherent).disabled = false;
            // dropdown.disabled = false;
            // $('#ddl_ControllEffectiveness_'+$("#question_id").val()).hide()
            var controleffective = "ddl_ControllEffectiveness_"+id
            const dropdown_1 = document.getElementById(controleffective).disabled = false;
            // $('#ddl_Residual_'+$("#question_id").val()).hide()
            // var residual = "ddl_Residual_"+id
            // const dropdown_2 = document.getElementById(residual).disabled = false;
        }
        else{
            var inherent = "ddl_InherentRisk_"+id
            const dropdown = document.getElementById(inherent).disabled = true;

            var controleffective = "ddl_ControllEffectiveness_"+id
            const dropdown_1 = document.getElementById(controleffective).disabled = true;
            
            var residual = "ddl_Residual_"+id
            const dropdown_2 = document.getElementById(residual).disabled = true;
        }

    }

    function validateform(){ 
        debugger;
        datalst=[]
        $.ajax({
            url: '/getFLSecQtn/', 
            data:{ ddlModel: $('#ddlModel').val(),ddlSection:$('#ddlSection').val()},
            dataType: 'json',   
            success: function (data) {     
                console.log('dt' ,data)
                datalst=data;    
                insertData(datalst);              
            }
        });
        
        
    }


    function insertData(data){
        debugger;
        
        var colDataLst=[];
        $.each(data.sections, function(key, value) {  
            debugger;                  
        console.log("key",key,"value",value)         
        item = {}
        if(value.qtn_aid!="" && value.qtn_aid != undefined && $('#ddl_yesno_'+value.qtn_aid).val() !=''  ){
            
            item['qtnId']=value.qtn_aid;
            item['ddl_yesno_']=$('#ddl_yesno_'+value.qtn_aid).val();
            item['ddl_doc_']='Yes';
            item['txt_comment_']=$('#txt_comment_'+value.qtn_aid).val();
            item['qtnId']=value.qtn_aid;
                
            if($('#ddl_yesno_'+value.qtn_aid).val() =='Yes'){
                item['ddl_InherentRisk_']=$('#ddl_InherentRisk_'+value.qtn_aid).val();
                item['ddl_ControllEffectiveness_']=$('#ddl_ControllEffectiveness_'+value.qtn_aid).val();
                item['ddl_Residual_']=$('#ddl_Residual_'+value.qtn_aid).val();
                item['txt_control_desc_']=$('#txt_control_desc_'+value.qtn_aid).val();
            }
            
        }       
        //console.log($('#ddl_yesno_'+value2.Question_AID).val(),$('#ddl_doc_'+value2.Question_AID).val(),$('#txt_comment_'+value2.Question_AID).val());
        console.log("item",item)
        if(Object.keys(item).length>0){ 
            colDataLst.push(item); 
        }                         
                  
        });
        console.log("colDataLst",colDataLst) 
        var csrftoken = $("[name=csrfmiddlewaretoken]").val(); 
        $.ajax({
            type: "post",
        url: '/saveFLRatings/',  
        data:{  colDataLst : JSON.stringify(colDataLst) ,'csrfmiddlewaretoken': '{{ csrf_token }}', },
        dataType: 'json',
        success: function (data) {
            console.log(data)
            if (data.is_taken) {
            alert("Updated Successfully.");
            }
        }
    }); 
    }
    function submitRatings(){
        $.ajax({
            url: '/submitFLRatings/',  
            dataType: 'json',
            success: function (data) {
                console.log(data)
                if (data.is_taken) {
                alert("Ratings Submitted sucessfully.");
                }
            }
        }); 
        $("#exampleModal").modal('toggle')
    }

    function getSections(){ 
        var $mySelect,selid ; 
         
        $mySelect = $('#ddlSection'); 
       
         
        $mySelect.empty();
        var $option = $("<option/>", {
                        value: "",
                        text: "Choose"
                    });
        $mySelect.append($option);
        $.ajax({
            url: '/getICQSections/', 
            data:{ modelid: $('#ddlModel').val()},
           dataType: 'json',   
            success: function (data) { 
                $.each(data.sections, function(key, value) { 
                    var $option = $("<option/>", {
                        value: value.section_aid,
                        text: value.section_label
                    });
                    $mySelect.append($option);
                });
            }
        });
    }

    function gotolist()
    {
        window.location='{{blank}}'
        
    }

    function hidedata(id){ 
        $("."+id).slideToggle()
        if( $("#exp_"+id.split('_')[1]).attr("class").indexOf('bi-plus-square')>0){
            $("#exp_"+id.split('_')[1]).removeClass("bi bi-plus-square");
            $("#exp_"+id.split('_')[1]).addClass("bi bi-dash-square");
        }
        else{
            $("#exp_"+id.split('_')[1]).removeClass("bi bi-dash-square");
        $("#exp_"+id.split('_')[1]).addClass("bi bi-plus-square");
         
        }
       
    }

    function fetchResidual(id){
        // ddl_InherentRisk_ , ddl_ControllEffectiveness_
        debugger
        var inherendRisk = $("#ddl_InherentRisk_"+id).val()
        var controleffect = $("#ddl_ControllEffectiveness_"+id).val()
        $.ajax({
            url: '/FetchResidualRating/',
            data:{ inherendRisk: inherendRisk,controleffect:controleffect},  
            dataType: 'json',
            success: function (data) {
                console.log("------------------value new",data)
                $("#ddl_Residual_"+id).val(data.rating)
            }
        }); 
        
    }

</script>
{% endblock script %}