. {% extends 'base.html' %} 
{% load static %} 
{% block content %}
<style>
  .table1 tr{
    line-height: 2px;
    font-size: 14px;
}
</style>
 
<!-- Added by Shuv Starts (for Project Details pop-up)-->
<div class="modal fade" id="projectsCardViewModal" tabindex="-1" aria-labelledby="projectsCardViewModal" aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-scrollable"> 
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="scrollingLongModalLabel2">Model Info</h5>
        <button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close"><span class="fas fa-times fs--1"></span></button>
      </div>
      <div class="modal-body p-5 px-md-6">
        <table class="table table1" >
          <tr id="trpubldate">
            <th scope="row" style="width:40%">Date of Publishing Validation Report</th>
            <td><label id='lblpublishDate'></label></td>
          </tr>                 
          <tr id="trrptlink">
            <th scope="row">Validation Report</th>
            <td><a id="hrefReport"  target="_blank"><label id='lblVRReportlink'></label></a></td>                      
          </tr>        
          <tr>
            <th scope="row" style="width:40%">Department</th>
            <td><label id='lblDept'></label></td>
          </tr>                 
          <tr>
            <th scope="row">Function</th>
            <td><label id='lblFunc'></label></td>                      
          </tr>
          <tr>
            <th scope="row">Registration Date</th>
            <td><label id='lblRegDate'></label></td>
          </tr>
          <tr>
            <th scope="row">Id</th>
            <td><label id='lblMdlId'></label></td>
          </tr>
          <tr>
            <th scope="row">Primary Model Name </th>
            <td><label id='lblPrmNm'></label></td>
          </tr>
          <tr>
            <th scope="row">Secondary Model Name </th>
            <td><label id='lblSecNm'></label></td>
          </tr>
          <tr>
            <th scope="row">Model Source  </th>
            <td><label id='lblMdlSrc'></label></td>
          </tr> 
          <tr>
            <th scope="row">Model Type  </th>
            <td><label id='lblMdlType'></label></td>
          </tr>
          <tr>
            <th scope="row">Model Abstract</th>
            <td><label id='lblMdlAbsct'></label></td>
          </tr>
          <tr>
            <th scope="row">Objective of Model</th>
            <td><label id='lblMdlObj'></label></td>
          </tr> 
          <tr>
            <th scope="row">Application of Model</th>
            <td><label id='lblApplMdl'></label></td>
          </tr>
          <tr>
            <th scope="row">Model Risk Analysis </th>
            <td><label id='lblMdlRiskAnlz'></label></td>
          </tr>
          <tr>
            <th scope="row">Products Addressed </th>
            <td><label id='lblPrdAddr'></label></td>
          </tr>
          <tr>
            <th scope="row">Usage Frequency </th>
            <td><label id='lblSsageFreq'></label></td>
          </tr>
          <!-- risk tab started -->
          <tr>
            <th scope="row">Model Risk </th>
            <td><label id='lblMdlRisk'></label></td>
          </tr>
          <tr>
            <th scope="row">Intrinsic Risk </th>
            <td><label id='lblIntrRisk'></label></td>
          </tr>
          <tr>
            <th scope="row">Reliance</th>
            <td><label id='lblReliance'></label></td>
          </tr>
          <tr>
            <th scope="row">Materiality</th>
            <td><label id='lblMateriality'></label></td>
          </tr>
          <tr>
            <th scope="row">Risk Mitigation </th>
            <td><label id='lblRiskMiti'></label></td>
          </tr>
          <tr>
            <th scope="row">Fair Lending</th>
            <td><label id='lblFairLendg'></label></td>
          </tr>
          <tr>
            <th scope="row">Model Owner/s</th>
            <td><label id='lblOwner'></label></td>
          </tr>
          <tr>
            <th scope="row">Model Developer/s</th>
            <td><label id='lblDevlopers'></label></td>
          </tr>
          <tr>
            <th scope="row">User/s</th>
            <td><label id='lblUsers'></label></td>
          </tr>
          <tr>
            <th scope="row">Production Support</th>
            <td><label id='lblPrdnSupp'></label></td>
          </tr>
          <tr>
            <th scope="row">Upstream Models</th>
            <td><label id='lblupstr'></label></td>
          </tr>
          <tr>
            <th scope="row">Downstream Models</th>
            <td><label id='lbldwstr'></label></td>
          </tr>
          <tr>
            <th scope="row">Approach</th>
            <td><label id='lblApproach'></label></td>
          </tr>
          <tr>
            <th scope="row">Monitoring Frequency</th>
            <td><label id='lblMonFreq'></label></td>
          </tr>
          <tr>
            <th scope="row">Monitoring Metrics</th>
            <td><label id='lblMonMtrc'></label></td>
          </tr>
          <tr>
            <th scope="row">Trigger Event/s </th>
            <td><label id='lblTriggerEve'></label></td>
          </tr>
          <tr>
            <th scope="row">Last Trigger Event Date  </th>
            <td><label id='lblLastTgrDt'></label></td>
          </tr>
          <tr>
            <th scope="row">Last Trigger Event Mitigation Date </th>
            <td><label id='lblMitgDt'></label></td>
          </tr>
          <tr>
            <th scope="row">Trigger Event Mitigation  </th>
            <td><label id='lblMitiEv'></label></td>
          </tr>
          <!-- risk tab ended --> 
      </table>
      </div>
      <div class="modal-footer">
        <!-- <a class="nav-link" href="http://3.131.88.246:8000" target="_blank" data-bs-toggle="" aria-expanded="false">           
          <button class="btn btn-sm btn-primary px-6">Validate Model</button>
        </a>
        <a class="nav-link" href="#" data-bs-toggle="" aria-expanded="false">           
          <button class="btn btn-sm btn-primary px-6">Version History</button>
        </a> -->
        <button class="btn btn-outline-primary" type="button" onclick="assignValidation()">Assign Validation </button>
        <button class="btn btn-outline-primary" type="button" id="btnEdit" style="display: none;" onclick="approveEdit()">Approve Edit Access </button>
        <button class="btn btn-outline-primary" type="button" id="btnApprove" style="display: none;" onclick="showEdit()">Approve Updated Changes </button>
        <!-- <button class="btn btn-outline-primary" type="button" id="btnDecomm" style="display: none;" onclick="showDecomm()">Decommission</button> -->
        <button class="btn btn-outline-primary" type="button" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<!-- Added by Shuv Ends (for Project Details pop-up)-->
{% csrf_token %}
<div class="content" style="padding-top:0px;"> 
  <div class="content container-fluid">
    <!-- Page Header -->
  
    <!-- End Page Header -->


    <!-- Card -->
    <div class="card mb-3 mb-lg-5">
      <!-- Header -->
      <div class="card-header">
        <div class="row justify-content-between align-items-center flex-grow-1">
          <div class="col-md">
            <div class="d-flex justify-content-between align-items-center">
              <h4 class="card-header-title">Model Inventory</h4>

              
            </div>
          </div>
          <!-- End Col -->

          <div class="col-auto">
            <!-- Dropdown -->
            <div class="dropdown me-2">
              <button type="button" class="btn btn-white btn-sm dropdown-toggle" id="usersExportDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi-download me-2"></i> Export
              </button>
    
              <div class="dropdown-menu dropdown-menu-sm-end" aria-labelledby="usersExportDropdown">
                <span class="dropdown-header">Options</span>
                <a id="export-copy" class="dropdown-item" href="javascript:;">
                  <img class="avatar avatar-xss avatar-4x3 me-2" src="../assets/svg/illustrations/copy-icon.svg" alt="Image Description">
                  Copy
                </a>
                <a id="export-print" class="dropdown-item" href="javascript:;">
                  <img class="avatar avatar-xss avatar-4x3 me-2" src="../assets/svg/illustrations/print-icon.svg" alt="Image Description">
                  Print
                </a>
                <div class="dropdown-divider"></div>
                <span class="dropdown-header">Download options</span>
                <a id="export-excel" class="dropdown-item" href="javascript:;">
                  <img class="avatar avatar-xss avatar-4x3 me-2" src="../assets/svg/brands/excel-icon.svg" alt="Image Description">
                  Excel
                </a>
                <a id="export-csv" class="dropdown-item" href="javascript:;">
                  <img class="avatar avatar-xss avatar-4x3 me-2" src="../assets/svg/components/placeholder-csv-format.svg" alt="Image Description">
                  .CSV
                </a>
                <a id="export-pdf" class="dropdown-item" href="javascript:;">
                  <img class="avatar avatar-xss avatar-4x3 me-2" src="../assets/svg/brands/pdf-icon.svg" alt="Image Description">
                  PDF
                </a>
              </div>
            </div>
            <!-- End Dropdown -->
          </div>

          <div class="col-auto">
            <!-- Filter -->
            <div class="row align-items-sm-center">
              <div class="col-sm-auto">
                <div class="row align-items-center gx-0">
                  <div class="col">
                    <span class="text-secondary me-2">Model Source:</span>
                  </div>
                  <!-- End Col -->

                  <div class="col-auto">
                    <!-- Select -->
                    <div class="tom-select-custom tom-select-custom-end">
                      <select class="js-select js-datatable-filter form-select form-select-sm form-select-borderless" data-target-column-index="3" data-target-table="datatable" autocomplete="off" data-hs-tom-select-options='{
                                "searchInDropdown": false,
                                "hideSearch": true,
                                "dropdownWidth": "10rem"
                              }'>
                        <option value="null" selected>All</option>
                        <option value="Internal">Internal</option>
                        <option value="Vendor">Vendor</option>
                        <option value="Legacy">Legacy</option>
                      </select>
                    </div>
                    <!-- End Select -->
                  </div>
                  <!-- End Col -->
                </div>
                <!-- End Row -->
              </div>
              <!-- End Col -->

              <div class="col-sm-auto">
                <div class="row align-items-center gx-0">
                  <div class="col">
                    <span class="text-secondary me-2">Model Risk</span>
                  </div>
                  <!-- End Col -->

                  <div class="col-auto">
                    <!-- Select -->
                    <div class="tom-select-custom tom-select-custom-end">
                      <select class="js-select js-datatable-filter form-select form-select-sm form-select-borderless" data-target-column-index="5" data-target-table="datatable" autocomplete="off" data-hs-tom-select-options='{
                                "searchInDropdown": false,
                                "hideSearch": true,
                                "dropdownWidth": "10rem"
                              }'>
                        <option value="null" selected>All</option>
                        <option value="Low">Low</option>
                        <option value="Medium">Medium</option>
                        <option value="High">High</option>
                      </select>
                    </div>
                    <!-- End Select -->
                  </div>
                  <!-- End Col -->
                </div>
                <!-- End Row -->
              </div>
              <!-- End Col -->

              <div class="col-md">
                <form>
                  <!-- Search -->
                  <div class="input-group input-group-merge input-group-flush">
                    <div class="input-group-prepend input-group-text">
                      <i class="bi-search"></i>
                    </div>
                    <input id="datatableSearch" type="search" class="form-control" placeholder="Search users" aria-label="Search users">
                  </div>
                  <!-- End Search -->
                </form>
              </div>
              <!-- End Col -->
            </div>
            <!-- End Filter -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
      <!-- End Header -->

      <!-- Table -->
      <div class="table-responsive datatable-custom">
        <table id="datatable" class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table" data-hs-datatables-options='{
                 "columnDefs": [{
                    "targets": [0, 1, 4],
                    "orderable": false
                  }],
                 "order": [],
                 "info": {
                   "totalQty": "#datatableWithPaginationInfoTotalQty"
                 },
                 "search": "#datatableSearch",
                 "entries": "#datatableEntries",
                 "pageLength": 10,
                 "isResponsive": false,
                 "isShowPaging": false,
                 "pagination": "datatablePagination",
              
                  "buttons": [
                    {
                      "extend": "copy",
                      "className": "d-none"
                    },
                    {
                      "extend": "excel",
                      "className": "d-none"
                    },
                    {
                      "extend": "csv",
                      "className": "d-none"
                    },
                    {
                      "extend": "pdf",
                      "className": "d-none"
                    },
                    {
                      "extend": "print",
                      "className": "d-none"
                    }
                ]
              }'>
          <thead class="thead-light">
            <tr>
              <th></th>
              <th>Model ID</th>
              <th>Primary Model Name</th>
              <th>Model Source</th>
              <th>Model Type</th>
              <th>Model Risk</th>
             
            </tr>
          </thead>

          <tbody>
            {% for key, val in modelinfo.items  %}             
            <tr>
               
              <td>                  
                
                <span class="nav-link-icon" style="padding-right: 5px;"  data-toggle="tooltip" title="Activity"><span  class="{{val.Activity}}"  data-feather="activity"></span></span>
                {% if val.canDecomm == "Yes" %}
                  <span class="nav-link-icon" data-toggle="tooltip" title="Decommision"><span id="sp_decomm_{{val.Mdl_Id}}" onclick="showComment('{{val.Mdl_Id}}','{{val.Is_Decomm}}')" style="cursor: pointer;" class="{{val.decommcss}}" data-feather="eye-off"></span></span>
                {%else%}
                  <span class="nav-link-icon" data-toggle="tooltip" title="Decommision"><span class="{{val.decommcss}}" data-feather="eye-off"></span></span>
                {%endif%}
                <img src='\static\images\documents.png'  title="Documents" style='cursor:pointer;' onclick="showDocs('{{val.Mdl_Id}}')"/>
              </td>
              <td>              
                <a class="text-decoration-none fw-bold fs-0"  href="#"  onclick="showModala('{{val.Mdl_Id}}','{{val.canDecomm}}','{{val.Is_Decomm}}','{{val.canEdit}}','{{val.tempexists}}')"  >{{val.Mdl_Id}}</a>
              </td>
              <td>
                {{val.Prm_Name}}
              </td>
              <td>
                {{val.Mdl_Src_Label}}
              </td>
              <td>
                {{val.Mdl_Type_Label}}
              </td>
              <td>
                {%if val.Mdl_Risk_Label == "High" %}
                    <h5><span class="badge bg-soft-danger  text-danger">High</span></h5>
                {%elif val.Mdl_Risk_Label == "Medium" %}
                    <h5><span class="badge bg-soft-warning  text-warning">Medium</span></h5>
                {%elif val.Mdl_Risk_Label == "Low" %}
                    <h5><span class="badge bg-soft-success text-success">Low</span></h5>
                {% endif %}
              </td> 
            </tr>
          {% endfor %}    
          </tbody>
        </table>
      </div>
      <!-- End Table -->

      <!-- Footer -->
      <div class="card-footer">
        <!-- Pagination -->
        <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
          <div class="col-sm mb-2 mb-sm-0">
            <div class="d-flex justify-content-center justify-content-sm-start align-items-center">
              <span class="me-2">Showing:</span>

              <!-- Select -->
              <div class="tom-select-custom">
                <select id="datatableEntries" class="js-select form-select form-select-borderless w-auto" autocomplete="off" data-hs-tom-select-options='{
                          "searchInDropdown": false,
                          "hideSearch": true
                        }'>
                  <option value="10" selected>10</option>
                  <option value="25">25</option>
                  <option value="50" >50</option>
                  <option value="100">100</option>
                </select>
              </div>
              <!-- End Select -->

              <span class="text-secondary me-2">of</span>

              <!-- Pagination Quantity -->
              <span id="datatableWithPaginationInfoTotalQty"></span>
            </div>
          </div>
          <!-- End Col -->

          <div class="col-sm-auto">
            <div class="d-flex justify-content-center justify-content-sm-end">
              <!-- Pagination -->
              <nav id="datatablePagination" aria-label="Activity pagination"></nav>
            </div>
          </div>
          <!-- End Col -->
        </div>
        <!-- End Pagination -->
      </div>
      <!-- End Footer -->
    </div>
    <!-- End Card -->

  </div>
</div>
<div id="divComment" class="modal fade"    tabindex="-1" role="dialog" aria-labelledby="staticBackdropLiveLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLiveLabel">Decommission</h5>        
      </div>
      <div class="modal-body"> 
        <div class="row mb-3 position-relative">
          <div style="width:100%;margin-bottom: 10px;" id="txtownercomment"> 
              <!-- <textarea id="txtownercomment" rows="5" disabled style="resize: none; border:1px solid black;width:100%;" ></textarea> -->
         </div> 
          <div class="col-sm-12">        
              <input type="file" name="myfile" id="myfile" value="{{file_name}}" required>  
              </div>        
           
        </div>   
          <div style="width:100%">
            <input type="hidden" id="decommSts"/>
              <input type="text" id="txtmdlid" style="display: none;"/>
              <textarea id="txtcomment" rows="5" style="resize: none; border:1px solid black;width:100%;" ></textarea>
         </div> 
      </div>
  <div class="modal-footer"> 
    <button type="button" class="btn btn-phoenix-primary px-5" onclick="$('#divComment').modal('toggle');">Close</button>
      <button type="button"  class="btn btn-primary px-5 px-sm-5" onclick="upload_file()">Save</button>
      
  </div>
</div>
</div>
</div>

<div class="modal fade" id="staticBackdrop" tabindex="-1" data-bs-backdrop="static" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Decommission Confirmation</h5>
        <button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close"><span class="fas fa-times fs--1 text-white"></span></button>
      </div>
      <div class="modal-body">
        <p class="text-700 lh-lg mb-0">There are incomplete tasks or issues for this model. Do you want to Proceed? </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" onclick="showDecommModal()">Yes</button>
        <button class="btn btn-outline-primary" type="button" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="divDocs" tabindex="-1" aria-labelledby="divDocs" aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-scrollable"> 
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="scrollingLongModalLabel2">Model Documents</h5>
        <button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close"><span class="fas fa-times fs--1"></span></button>
      </div>
      <div class="modal-body p-5 px-md-6">
    <div class="row form-group"> 
  <div class="table-responsive table--no-card m-b-40"> 
      <table id="tbldocs" class="table table-borderless table-striped table-earning">
          <thead>
              <tr> 
                  <th style="padding: 10px 0px 10px 10px;">Document Type</th> 
                  <th style="padding: 10px 0px 10px 10px;">Document Name</th>  
              </tr>
          </thead>  
          <tbody>
             
              {% for key, data in modelDocs.items %} 
                  <tr> 
                          <td>
                              <div style="display: flex;">
                                  <div style="margin-right: 10px;">{{data.Mdl_Doc_Type}}</div>   
                                  <!-- <div class="blob" id="div_{{data.docIdx}}" title="View Comments" onclick="showdocCom(this.id,'{{data.docref}}')"></div> -->
                              </div>
                          </td>     
                      <td><a href="\static\document_files\{{selectedMdl}}\{{data.Mdl_Doc_Name}}"  target="_blank">{{data.Mdl_Doc_Name}}</a></td>                                                                                             
                        
                  </tr> 
              {% endfor %} 
          </tbody>
         </table>
  </div>
</div>
</div>
<div class="modal-footer"> 
<button class="btn btn-outline-primary" type="button" id="btnOk"  data-bs-dismiss="modal">Close</button>
</div>
</div>
</div>
</div> 

                        {% endblock content %}
  {%block script%} 

  <!-- JS Global Compulsory  -->
  <script src="{% static 'Front/dist/assets/vendor/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'Front/dist/assets/vendor/jquery-migrate/dist/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'Front/dist/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

  <!-- JS Implementing Plugins -->
  <script src="{% static 'Front/dist/assets/vendor/hs-navbar-vertical-aside/dist/hs-navbar-vertical-aside.min.js' %}"></script>
  <script src="{% static 'Front/dist/assets/vendor/hs-form-search/dist/hs-form-search.min.js' %}"></script>

  <script src="{% static 'Front/dist/assets/vendor/chart.js/dist/Chart.min.js' %}"></script>
  <script src="{% static 'Front/dist/assets/vendor/chartjs-chart-matrix/dist/chartjs-chart-matrix.min.js' %}"></script>
  <script src="{% static 'Front/dist/assets/vendor/chartjs-plugin-datalabels/dist/chartjs-plugin-datalabels.min.js' %}"></script>
  <script src="{% static 'Front/dist/assets/vendor/daterangepicker/moment.min.js' %}"></script>
  <script src="{% static 'Front/dist/assets/vendor/daterangepicker/daterangepicker.js' %}"></script>
  <script src="{% static 'Front/dist/assets/vendor/tom-select/dist/js/tom-select.complete.min.js' %}"></script>
  <script src="{% static 'Front/dist/assets/vendor/clipboard/dist/clipboard.min.js' %}"></script>
  <script src="{% static 'Front/dist/assets/vendor/datatables/media/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'Front/dist/assets/vendor/datatables.net.extensions/select/select.min.js' %}"></script>

  <!-- JS Front -->
  <script src="{% static 'Front/dist/assets/js/theme.min.js' %}"></script>
  <script src="{% static 'Front/dist/assets/js/hs.theme-appearance-charts.js' %}"></script>

  <!-- JS Plugins Init. -->

  <!--New Links for exports-->
  <!-- JS Implementing Plugins -->
  <script src="{% static 'Front/dist/assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'Front/dist/assets/vendor/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
  <script src="{% static 'Front/dist/assets/vendor/jszip/dist/jszip.min.js' %}"></script>
  <script src="{% static 'Front/dist/assets/vendor/pdfmake/build/pdfmake.min.js' %}"></script>
  <script src="{% static 'Front/dist/assets/vendor/pdfmake/build/vfs_fonts.js' %}"></script>
  <script src="{% static 'Front/dist/assets/vendor/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'Front/dist/assets/vendor/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
  <script src="{% static 'Front/dist/assets/vendor/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
  <script> 

  //   // INITIALIZATION OF DATATABLES
  //   // =======================================================

  //   (function () {
  //   // INITIALIZATION OF DATATABLES
  //   // =======================================================
  //   HSCore.components.HSDatatables.init('.js-datatable')
  //   const exportDatatable = HSCore.components.HSDatatables.getItem('datatable')

    
  // })()


    HSCore.components.HSDatatables.init($('#datatable'), {
      select: {
        style: 'multi',
        selector: 'td:first-child input[type="checkbox"]',
        classMap: {
          checkAll: '#datatableCheckAll',
          counter: '#datatableCounter',
          counterInfo: '#datatableCounterInfo'
        }
      },
      language: {
        zeroRecords: `<div class="text-center p-4">
              <img class="mb-3" src="{% static 'Front/dist/assets/svg/illustrations/oc-error.svg' %}" alt="Image Description" style="width: 10rem;" data-hs-theme-appearance="default">
              <img class="mb-3" src="{% static 'Front/dist/assets/svg/illustrations-light/oc-error.svg' %}" alt="Image Description" style="width: 10rem;" data-hs-theme-appearance="dark">
            <p class="mb-0">No data to show</p>
            </div>`
      }
    });

    const datatable = HSCore.components.HSDatatables.getItem('datatable')

    document.querySelectorAll('.js-datatable-filter').forEach(function (item) {
      item.addEventListener('change',function(e) {
        const elVal = e.target.value,
    targetColumnIndex = e.target.getAttribute('data-target-column-index'),
    targetTable = e.target.getAttribute('data-target-table');

    HSCore.components.HSDatatables.getItem(targetTable).column(targetColumnIndex).search(elVal !== 'null' ? elVal : '').draw()
      })
    })

    document.getElementById('export-copy').addEventListener('click', function () {
      datatable.button('.buttons-copy').trigger()
    })

    document.getElementById('export-excel').addEventListener('click', function () {
      datatable.button('.buttons-excel').trigger()
    })

    document.getElementById('export-csv').addEventListener('click', function () {
      datatable.button('.buttons-csv').trigger()
    })

    document.getElementById('export-pdf').addEventListener('click', function () {
      datatable.button('.buttons-pdf').trigger()
    })

    document.getElementById('export-print').addEventListener('click', function () {
      datatable.button('.buttons-print').trigger()
    })
  </script>


<script>

  function showModala(id,canDecom,decomSts,canEdit,tempexists){
   
      if(canDecom=="Yes"){
        $('#btnDecomm').show()
      }
      else{
        $('#btnDecomm').hide()
      }
      if(canEdit=="Yes" && tempexists=='No'){
        $('#btnEdit').show()
      }
      else{
        $('#btnEdit').hide()
      }
      if(tempexists!='No'){
        $('#btnApprove').show()
      }
      else{
        $('#btnApprove').hide()
      }
      $("#txtmdlid").val(id);
      $('#decommSts').val(decomSts);
      $('#lblDept').text('');
      $('#lblFunc').text('');
      $('#lblRegDate').text('');
      $('#lblMdlId').text('');
      $('#lblPrmNm').text('');
      $('#lblSecNm').text('');
      $('#lblMdlSrc').text('');
      $('#lblMdlType').text('');
      $('#lblMdlAbsct').text('');
      $('#lblMdlObj').text('');
      $('#lblApplMdl').text('');
      $('#lblMdlRiskAnlz').text('');
      $('#lblPrdAddr').text('');
      $('#lblSsageFreq').text('');
      //risk tab starts
      $('#lblMdlRisk').text('');
      $('#lblIntrRisk').text('');
      $('#lblReliance').text('');
      $('#lblMateriality').text('');
      $('#lblRiskMiti').text('');
      $('#lblFairLendg').text('');
      $('#lblDevlopers').text('');
      $('#lblUsers').text('');
      $('#lblPrdnSupp').text('');
      
      //relevant users ends
      //dependencies starts
      $('#lblupstr').text('');
      $('#lbldwstr').text('');
      $('#lblApproach').text('');
      $('#lblMonFreq').text('');
      $('#lblMonMtrc').text('');
      $('#lblTriggerEve').text('');
      $('#lblLastTgrDt').text('');
      $('#lblMitgDt').text('');
      $('#lblMitiEv').text(''); 
      $('#lblOwner').text('');
      $.ajax({
            url: '/getMdlDetailsById/', 
            data:{ mdlId: id},
           dataType: 'json',   
            success: function (data) { 
               if(data.istaken=='true'){
               // $('#tblMaster tr:last').after('<tr><td>'+$("#txtopt").val()+'</td><td>'+$("#txtdesc").val()+'</td></tr>');
               
               //console.log(data.mdldata[0].Mdl_Src_Label,',' +' id is '+data.mdldata.Mdl_Id)
               if(data.isvrpublished!='no'){
                $('#lblpublishDate').text(data.isvrpublished);
               $("#hrefReport").attr("href", "/static/media/ValidationReport_"+id+".pdf")
               $('#lblVRReportlink').text("ValidationReport_"+id+".pdf");
               $("#trpubldate").show();
                $("#trrptlink").show();
               }
               else  {
                $("#trpubldate").hide();
                $("#trrptlink").hide();
               }
               $('#lblDept').text(data.mdldata[0].Dept_Label);
               $('#lblFunc').text(data.mdldata[0].Mdl_Fncn_Label);
               $('#lblRegDate').text(data.mdldata[0].regdate);
               $('#lblMdlId').text(data.mdldata[0].Mdl_Id);
               $('#lblPrmNm').text(data.mdldata[0].Prm_Name);
               $('#lblSecNm').text(data.mdldata[0].Sec_Name);
               $('#lblMdlSrc').text(data.mdldata[0].Mdl_Src_Label);
               $('#lblMdlType').text(data.mdldata[0].Mdl_Type_Label);
               $('#lblMdlAbsct').text(data.mdldata[0].Mdl_Absct);
               $('#lblMdlObj').text(data.mdldata[0].Mdl_objective);
               $('#lblApplMdl').text(data.mdldata[0].Mdl_Appl);
               $('#lblMdlRiskAnlz').text(data.mdldata[0].Mdl_Risk_Ansl);
               $('#lblPrdAddr').text(data.mdldata[0].Prd_Addr_Label);
               $('#lblSsageFreq').text(data.mdldata[0].Mdl_Use_Freq_Label);
               //risk tab starts
               $('#lblMdlRisk').text(data.mdldata[0].Mdl_Risk_Label);
               $('#lblIntrRisk').text(data.mdldata[0].Intrinsic_Label);
               $('#lblReliance').text(data.mdldata[0].Reliance_Label);
               $('#lblMateriality').text(data.mdldata[0].Materiality_Label);
               $('#lblRiskMiti').text(data.mdldata[0].Risk_Mtgn);
               $('#lblFairLendg').text(data.mdldata[0].Fair_Lndg);
               $('#lblDevlopers').text(data.Developer);
               $('#lblUsers').text(data.User);
               $('#lblPrdnSupp').text(data.PrdnSupport);
               $('#lblOwner').text(data.Owner);

               
               //relevant users ends
               //dependencies starts
               $('#lblupstr').text('');
               $('#lbldwstr').text('');
               if(Object.keys(data.dependencies).length>0){
                $('#lblupstr').text(data.dependencies[0].Mdl_Dwstream_Label);
                $('#lbldwstr').text(data.dependencies[0].Mdl_Upstream_Label);
               }
               //dependencies ends

               //perfomance monitoring start
               $('#lblApproach').text('');
                $('#lblMonFreq').text('');
                $('#lblMonMtrc').text('');
                $('#lblTriggerEve').text('');
                $('#lblLastTgrDt').text('');
                $('#lblMitgDt').text('');
                $('#lblMitiEv').text(''); 
               if(Object.keys(data.PerformMon).length>0){
                $('#lblApproach').text(data.PerformMon[0].Approach);
                $('#lblMonFreq').text(data.PerformMon[0].Mdl_Montr_Freq_Label);
                $('#lblMonMtrc').text(data.PerformMon[0].Monr_Mtrcs);
                $('#lblTriggerEve').text(data.PerformMon[0].Tgr_Evt);
                $('#lblLastTgrDt').text(data.PerformMon[0].Lst_Tgr_Dt);
                $('#lblMitgDt').text(data.PerformMon[0].Lst_Tgr_Mtgn_Dt);
                $('#lblMitiEv').text(data.PerformMon[0].Tgr_Evt_Mtgn); 
               }
               $('#projectsCardViewModal').modal('toggle');
               //perfomance monitoring ends

               }
               else
               {
                 
               }
            }
        });
      
    }
   
    function showComment(id,decomSts)
    {   
      $("#txtmdlid").val(id);
      $('#decommSts').val(decomSts);
      $("#txtownercomment").empty()
      $.ajax({
            url: '/checkPendingTasksIssues/', 
            data:{ mdl_id: id},
           dataType: 'json',   
            success: function (data) { 
              console.log(data.decommdoc,data.checkPending)
               if(data.checkPending=='0'){
                if(data.decommdoc[0].decomm_file!=''){
                  $("#txtownercomment").html("Owner's  comment : "+data.decommdoc[0].decomm_comment_owner+"<br> Uploaded file : <a href='/static/document_files/"+id+"/"+id+"_"+data.decommdoc[0].decomm_file +"' style='color:black;width:20px'   target='_blank'>"+data.decommdoc[0].decomm_file)
                }
                else{
                  $("#txtownercomment").html("Owner's  comment :"+data.decommdoc[0].decomm_comment_owner+"<br> ")
                }
                
                $("#divComment").modal('toggle')
               }
               else{
                if(data.decommdoc[0].decomm_file!=''){
                  $("#txtownercomment").html("Owner's  comment : "+data.decommdoc[0].decomm_comment_owner+"<br> Uploaded file : <a href='/static/document_files/"+id+"/"+id+"_"+data.decommdoc[0].decomm_file +"' style='color:black;width:20px'   target='_blank'>"+data.decommdoc[0].decomm_file)
                }
                else{
                  $("#txtownercomment").html("Owner's  comment :"+data.decommdoc[0].decomm_comment_owner+"<br> ")
                }
                $("#staticBackdrop").modal('toggle')
               }
              }
      });     
    }

    function approveEdit(){
      mdl_id = $("#txtmdlid").val(); 
      console.log('mdl_id ',mdl_id)
          if(mdl_id !=''){
            // alert("ok")
              // alert('Tool registred with id {{mdl_id}}.')
            $.ajax({
            url: '/issubmit/', 
            data:{ is_submit:0,mdl_id:mdl_id},
            dataType: 'json',   
            success: function (data) { 
              if (data.isvalid == 'false'){
                
              }  
              else{
                alert("Request approved successfully.")
              }              
              $('#btnEdit').hide() 
              // $('#submit').prop('disabled', true);
              
            }
          });
        }
    }
    function showEdit(){ 
      window.location='/tempdetails?mdlId='+ $("#txtmdlid").val()
      
    }
    
    function showDecomm()
    {    
      $("#projectsCardViewModal").modal('toggle')
      $.ajax({
            url: '/checkPendingTasksIssues/', 
            data:{ mdl_id: $("#txtmdlid").val()},
           dataType: 'json',   
            success: function (data) { 
              console.log('data is ',data)
               if(data.checkPending=='0'){
               
                $("#divComment").modal('toggle')
               }
               else{
                $("#staticBackdrop").modal('toggle')
               }
              }
      });     
    }


    function showDecommModal(){
      $("#staticBackdrop").modal('toggle')
      $("#divComment").modal('toggle')

    }

    function upload_file() {
    if($('#myfile').val().length>0){
    var file  = document.getElementById('myfile').files[0]; 
    var filename = file .name;   

    var csrftoken = $("[name=csrfmiddlewaretoken]").val(); 
    var x = new XMLHttpRequest();
    x.open("POST","/uploadDecommDoc/",true); 
    x.setRequestHeader( "X-CSRFToken",csrftoken); 
    //x.send('{"comment":"'+comment+'"}');
    var fd = new FormData();
    
    fd.append("filename", file,filename);
    fd.append("filenm", filename);
    fd.append("mdl_id", $("#txtmdlid").val());
    fd.append("comment", $("#txtcomment").val() );
    fd.append("decommSts", $('#decommSts').val());
    x.send(fd);
    x.onreadystatechange = function () { 
        if (x.readyState == 4 && x.status == 200) {           
            $('#myfile').val('');
            //$("#sp_decomm_"+$("#txtmdlid").val()).css("pointer-events", "none");
            $("#sp_decomm_"+$("#txtmdlid").val()).addClass("text-warning")
            var i = JSON.parse(x.responseText);          
            sendNotification('Request Decommission|'+i.notification_trigger,i.from,i.to,i.thread_id);
        }
    }
  }
  else{
    var csrftoken = $("[name=csrfmiddlewaretoken]").val(); 
    var x = new XMLHttpRequest();
    x.open("POST","/uploadDecommDoc/",true); 
    x.setRequestHeader( "X-CSRFToken",csrftoken); 
    //x.send('{"comment":"'+comment+'"}');
    var fd = new FormData(); 
    fd.append("mdl_id", $("#txtmdlid").val());
    fd.append("comment", $("#txtcomment").val() );
    fd.append("decommSts", $('#decommSts').val());
    x.send(fd);
    x.onreadystatechange = function () { 
        if (x.readyState == 4 && x.status == 200) {
            var i = JSON.parse(x.responseText);          
            sendNotification('Request Decommission|'+i.notification_trigger,i.from,i.to,i.thread_id);
            $('#myfile').val('');
            //$("#sp_decomm_"+$("#txtmdlid").val()).css("pointer-events", "none");
            $("#sp_decomm_"+$("#txtmdlid").val()).addClass("text-warning") ;          
            
        }
        $('#divComment').modal('toggle');
    }
  }
}
    

function assignValidation(){
  mdl_id = $("#txtmdlid").val()
  window.location='{% url "reqValidation" %}?mdl_id='+mdl_id;
}
function showDocs(id){
  $('#tbldocs').find('tbody').empty(); 
    $.ajax({
      url: '/getMdlDocs/', 
      data:{ mdl_id: id},
      dataType: 'json',   
      success: function (data) { 
        $.each(data.docs, function(key, val) { 
          console.log(val.Mdl_Doc_Type+','+val.Mdl_Doc_Name)
          myRow='<tr> <td><div style="display: flex;"> <div style="margin-right: 10px;">'+val.Mdl_Doc_Type+'</div> </div> </td>  <td><a href="\\static\\document_files\\'+data.mdl_id+'\\'+val.Mdl_Doc_Name +'"  target="_blank">'+val.Mdl_Doc_Name +'</a></td>  </tr> '
          $('#tbldocs').find('tbody').append(myRow);
        });
      $("#divDocs").modal('toggle')
      }
    });
  }
  </script>
  {%endblock script %}