{% extends 'adminbase.html' %} 
{% load static %} 
{% block content %}
<div class="content" style="padding-top:0px;"> 
  <div class="card h-100">
    <div class="col-auto" style="width:100%; background-color:#e0edff;height:38px;border-bottom:solid 1px #ddd; -webkit-border-top-left-radius: 6px;
				-webkit-border-top-right-radius: 6px;
				-moz-border-radius-topleft: 6px;
				-moz-border-radius-topright: 6px;
				border-top-left-radius: 6px;
				border-top-right-radius: 6px;">
          <h4 style="color:#3e465b; padding:10px 20px">User Access</h4>
        </div>
  <div class="card-body">
  <div class="mb-9">
    <div id="utility" data-list='{"valueNames":["Utility"]}'>
       
      <div class="row g-3 justify-content-between align-items-end mb-4">
         
        <div class="col-12 col-sm-auto">
          <div class="d-flex align-items-center">
            <div class="search-box me-3">
              <div class="position-relative" data-bs-toggle="search" data-bs-display="static">
                <input class="form-control search-input search" type="search" placeholder="Search functionality" aria-label="Search" />
                <span class="fas fa-search search-box-icon"></span>

              </div>
            </div> 
          </div>
        </div>
        <div class="col-12 col-sm-auto"  style="float: left;">
          <select class="form-select" id="ddlutype" aria-label="Default select example" onchange="getdata()" required>                      
            <option selected="" value="">Select User Type</option>
            {% for key, val in utype.items  %} 
            <option value="{{val.UC_AID}}">{{val.UC_Label}}</option>
            {% endfor %} 
          </select>
        </div>
        <div class="col-sm-auto" style="float: right;"><a class="btn btn-phoenix-primary me-1 mb-1" onclick="adddata()"  disabled><i class="fa-solid fa-plus me-2"></i>Add</a>
        </div>
      </div> 
      <div class="table-responsive scrollbar" id="lstRes" style="max-height:450px;">
        <table id="tblutl" class="table fs--1 mb-0 border-top border-200">
          <thead>
            <tr>
              <th class="sort white-space-nowrap align-middle ps-0" scope="col"  style="width:5%;">
                <input type="checkbox" id="name1" onclick="selectall()"/>
              </th>
              <th class="sort white-space-nowrap align-middle ps-0" scope="col" data-sort="Utility" style="width:40%;">Utility</th>
              <th class="sort white-space-nowrap align-middle ps-3" scope="col" data-sort="Process_Name" style="width:15%;">Read only</th> 
              <th class="sort white-space-nowrap align-middle ps-3" scope="col" data-sort="Area" style="width:15%;">Read Write</th>
              <th class="sort white-space-nowrap align-middle ps-3" scope="col" data-sort="Add" style="width:10%;">Add</th>
              <th class="sort white-space-nowrap align-middle ps-3" scope="col" data-sort="Edit" style="width:10%;">Edit</th>
              <th class="sort white-space-nowrap align-middle ps-3" scope="col" data-sort="Delete" style="width:10%;">Delete</th>
              
              
            </tr>
          </thead>
          <tbody class="list" id="project-list-table-body">
            {% for key, val in users.items  %} 
              <tr class="position-static"> 
                <td class="align-middle time white-space-nowrap ps-0 py-4">
                  
                   <input type="checkbox" name="chk"  id="chk_{{val.R_AID}}" onclick="registerclick('{{val.R_AID}}')"/> 
                </td>
                <td class="align-middle time white-space-nowrap ps-0 Utility py-4"> 
                 <input type="text" id="txt_{{val.R_AID}}" style="border: none; background-color: transparent;" value="{{val.R_Label}}" readonly/>
                 <input type="hidden" id="hdn_{{val.R_AID}}" value="{{val.R_AID}}">
                </td>
                <td class="align-middle white-space-nowrap ps-3 py-4">
                  <input class="form-check-input radio1" id="rbro_{{val.R_AID}}" onchange="enablechk(true,'{{val.R_AID}}')" type="radio" name="rb_{{val.R_AID}}" value="ro">
                </td>
                <td class="align-middle white-space-nowrap ps-3 py-4">
                  <input class="form-check-input radio1" id="rbrw_{{val.R_AID}}" onchange="enablechk(false,'{{val.R_AID}}')"  type="radio" name="rb_{{val.R_AID}}" value="rw">
                </td>
               
                <td class="align-middle white-space-nowrap Area ps-3 py-4">
                  <input class="form-check-input res" id="chkadd_{{val.R_AID}}" type="checkbox" disabled>
                </td>
                <td class="align-middle white-space-nowrap Internal_Vendor ps-3 py-4">
                  <input class="form-check-input res" id="chkedit_{{val.R_AID}}" type="checkbox" disabled>
                </td>
                <td class="align-middle white-space-nowrap ps-3 Status">
                  <input class="form-check-input res" id="chkdelete_{{val.R_AID}}" type="checkbox" disabled>
                </td> 
                  <!-- <td>
                    <div class="font-sans-serif btn-reveal-trigger position-static">
                      <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs--2" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs--2"></span></button>
                      <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">Upcoming</a><a class="dropdown-item" href="#!">Tasks</a><a class="dropdown-item" href="#!">Audit Trail</a>
                        
                      </div>
                    </div>
                  </td> -->
              </tr>
            {% endfor %}   
          </tbody>
        </table>
      </div>
      <!-- <div class="d-flex flex-wrap align-items-center justify-content-between py-3 pe-0 fs--1 border-bottom border-200">
        <div class="d-flex">
           <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900" data-list-info="data-list-info"></p>
            <a class="fw-semi-bold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semi-bold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a> 
        </div>
        <div class="d-flex">
          <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
          <ul class="mb-0 pagination"></ul>
          <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
        </div>
      </div> -->
    </div>
  </div> 
  </div>
</div> 
</div>
{% endblock content %}
{% block script %}
<script type='text/javascript' >
  var arrQtns=[]
    function registerclick(id){
        //console.log('id is '+id + ' , '+$('input[name="rb_'+ id +'"]:checked').val())
       
        if($('#chk_'+id).prop('checked')){
          $('#rbrw_'+id).prop('checked', true);  
          enablechk(false,id)
          if(arrQtns.indexOf(id)<0){
              arrQtns.push(id);  
          }
        }
        else{ // only splice array when item is found
          console.log('inside uncheck')
          $('#name1').prop('checked', false); 
          $('#rbro_'+id).prop('checked', false);  
          $('#rbrw_'+id).prop('checked', false);  
          $('#chkadd_'+id).prop('checked', false);
          $('#chkedit_'+id).prop('checked', false);
          $('#chkdelete_'+id).prop('checked', false);
          enablechk(true,id)
          arrQtns.splice(arrQtns.indexOf(id), 1); // 2nd parameter means remove one item only
        
        }
    }

    function selectall(){ 
      var yes = document.getElementById("name1");  
       
      // alert("select all")
      // var check = false;
      if (yes.checked == true){
        var ele=document.getElementsByName('chk');
        console.log("ele",ele)
        for(var i=0; i<ele.length; i++){  
          if(ele[i].type=='checkbox')  
              ele[i].click(); 
          }
      }
      else{
        var ele=document.getElementsByName('chk');
        console.log("ele----------",ele)
        for(var i=0; i<ele.length; i++){  
          if(ele[i].type=='checkbox')  
           ele[i].click();  // ele[i].checked=false;
              var radio = document. querySelector('input[type=radio]:checked');  
              radio.checked = false;
          }
      }
      
    }


    function adddata(){ 
      if($('#ddlutype').val()=="") {
        alert('Please select user type.')
        return
      }
      else if(arrQtns.length<1){
        alert('Please select utility(s).')
        return
      }

      updatedata=[]
      arrQtns.forEach(i => {
        if($('#chk_'+i).prop('checked')) {
          //console.log($('#chk_'+i).prop('checked'),',',$('#hdn_'+i).val(),', ',$('input[name="rb_'+ i +'"]:checked').val() );
          item = {}  
          item["AID"] = $('#hdn_'+i).val();
          item["UA"]=$('input[name="rb_'+ i +'"]:checked').val()
          if($('input[name="rb_'+ i +'"]:checked').val()=='rw'){
            item["add"]=$('#chkadd_'+i).is(":checked")?1:0
            item["edit"]=$('#chkedit_'+i).is(":checked")?1:0
            item["delete"]=$('#chkdelete_'+i).is(":checked")?1:0
          }
          else{
            item["add"]=0
            item["edit"]=0
            item["delete"]=0
          }

          updatedata.push(item); 
        }
    
      });
      
      if(updatedata.length>0){
        $.ajax({
          url: '/updateuseraccess/', 
          data:{ datalist: JSON.stringify(updatedata),uc:$('#ddlutype').val()  },
          dataType: 'json',
          success: function (data) { 
              if(data.istaken=="true"){
                alert('User access granted for selected utilities and rights.')
              }
          }
        }); 
      }  
       
    }  

      function getdata()
      {    
        $('#lstRes').find('input:checkbox').prop('checked', false);    
        $('input[type="radio"]').prop('checked', false);  
        $('.res').each(function() { 
            $(this).prop('disabled', true); 
        });
        arrQtns=[]
        $.ajax({
          url: '/getUCAccessData/', 
          data:{uc:$('#ddlutype').val()  },
          dataType: 'json',
          success: function (data) {  
              if(data.istaken=="true"){
                $.each(data.ucdata, function(i, obj) { 
                  enablechk(true,obj.R_AID)
                  arrQtns.push(obj.R_AID);  
                  $('#chk_'+obj.R_AID).prop('checked', true);
                  $("input[name=rb_"+obj.R_AID +"][value=" + obj.UA_Perm + "]").prop('checked', true);
                  $('#chkadd_'+obj.R_AID).prop('checked', obj.UA_Add);
                  $('#chkedit_'+obj.R_AID).prop('checked', obj.UA_Edit);
                  $('#chkdelete_'+obj.R_AID).prop('checked', obj.UA_Delete);
                  if(obj.UA_Perm=='rw'){ 
                    enablechk(false,obj.R_AID)
                  } 
                });
                  
              }
          }
        });

      }

    function enablechk(val,id){ 
      $('#chkadd_'+id).prop('disabled',val);
      $('#chkedit_'+id).prop('disabled',val);
      $('#chkdelete_'+id).prop('disabled',val);
      if(val==false){
        $('#chkadd_'+id).prop('checked', true);
        $('#chkedit_'+id).prop('checked', true);
      }
      else{
        $('#chkadd_'+id).prop('checked', false);
        $('#chkedit_'+id).prop('checked', false);
        $('#chkdelete_'+id).prop('checked', false);
      }
    }
</script>
{% endblock script %}