{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>


.mystyle {
  background-color: coral;
  padding: 16px;
}
    #mytextarea {
  height: 00px;
  /*edit this*/
}
    .accordion-button::after {
        display: none;
    }

    #datepicker,#datepicker_end_date{
        width: 180px;
    }

    #datepicker,#datepicker_end_date>span:hover {
        cursor: pointer;
    }
</style> 
<link href="vendors/flatpickr/flatpickr.min.css" rel="stylesheet" />

<div class="modal fade" id="divTune" tabindex="-1" aria-labelledby="divTune" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-scrollable"> 
      <div class="modal-content">
        <!-- <div class="modal-header">
          <h5 class="modal-title" id="scrollingLongModalLabel2">Set Tune Parameters </h5>
          <button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close"><span class="fas fa-times fs--1"></span></button>
        </div> -->
        <div class="modal-body p-5 px-md-6">  
    
                <div class="col-lg-12"> 
                   
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label" for="ddlIntrRisk">Model ID</label>
                        <div class="col-sm-5">    
                            <select name="model_id" id="model_id" class="form-control">
                                {% for i in mdl_overview_obj %}
                                <option class="dropdown-item" value="{{i.mdl_id}}">{{i.mdl_id}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>  
  
                    </div> 
             
        </div>
        <div class="modal-footer">
            <div class="col-auto" style="display: flex; justify-content: flex-end;"> 
                <button type="button" class="btn btn-primary btn-sm" style="margin-right: 10px;" onclick="generate_issueID()" >Select</button>
                <button type="button" class="btn btn-primary btn-sm" style="margin-right: 10px;" onclick="closeModel()" >Cancel</button>
            </div>
        </div>
      </div>
    </div>
  </div>
<div>
    <form action="{% url 'issue_registrartion' %}" onsubmit="myFunction()" id="target" method="post" enctype="multipart/form-data" class="form-horizontal"
        >
        {% csrf_token %}

        <div class="content" data-bs-target="#v-pills"  data-bs-spy="scroll" style="padding-top:0px;">
            <div class="mt-4">
              <div class="row g-4">
                <div class="col-12 col-xl-12 order-1 order-xl-0">
                  <div class="card shadow-none border border-300 my-4" data-component-card="data-component-card">
                    
                    <div class="card-body p-0">
                      
                      <div class="p-4 code-to-copy">
                        <div class="row">
                          <div class="col-sm-auto">
                            <div class="sticky-top" style="margin-top:-72px;padding-top:72px">
                              <div class="nav flex-column nav-pills" id="v-pills">
                                <a class="nav-link ps-0 ps-sm-3" href="#v-pills-home">Issue Overview</a>
                                <a class="nav-link ps-0 ps-sm-3" href="#v-pills-design">Relevant Personnel</a>
                                <a class="nav-link ps-0 ps-sm-3" href="#v-pills-attributes">Relevant Dependencies</a>
                                <a class="nav-link ps-0 ps-sm-3" href="#v-pills-relatedmodels">Issue Summary</a>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm">
                            <div style="border: 1px solid var(--phoenix-gray-200);padding: 10px;border-radius: 0.5rem;">
                              <h4 id="v-pills-home">Overview</h4>
                              <div class="row">
                                <div class="col-xl-12">
                                    <div class="row g-3 mb-6" style="margin-top:5px">
                                        <div class="row mb-3">
              
                                          <label class="col-sm-4 col-form-label"></label>
                  
                                          <!-- <div class="col-sm-2">
                  
                                              <div class="form-check">
                  
                                              <input class="form-check-input" id="rbnew" type="radio" name="rbisnewupdate" value="1" checked="">
                  
                                              <label class="form-check-label" for="rbactive">New</label>
                                              </div>  
                                          </div>
                                          <div class="col-sm-1"> 
                                              <div class="form-check">
                  
                                              <input class="form-check-input" id="rbupdate" type="radio" name="rbisnewupdate" value="0"  href="#" data-bs-toggle="modal" data-bs-target="#projectsCardViewModal">
                                              
                                              <label class="form-check-label" for="rbupdate">Update</label>
                                              </div> 
                                          </div> -->
                                      </div>
                                    <div>
                                        <div class="row form-group">
                                            <div class="col col-md-4">
                                                Department <span style="color: red;">*</span>
                                            </div>
                                            <div class="coldata-12 col-md-8">
                                                <input readonly type="text" id="txtModelNm" name="department"
                                                    class="form-control-sm form-control" value="{{department_obj.dept_label}}"
                                                    style="width: 100%;font-size: 12pt;margin-bottom:15px"
                                                    required />
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-4">
                                                Originator <span style="color: red;">*</span>
                                            </div>
                                            <div class="col-12 col-md-8">
                                                <input readonly type="text" id="txtModelVersion" name="originator"
                                                    class="form-control-sm form-control" value="{{originator_name}}"
                                                    style="width: 100%;font-size: 12pt;margin-bottom:15px;"
                                                    required />
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-4">
                                                Issue Function <span style="color: red;">*</span>
                                            </div>
                                            <div class="col-12 col-md-8">
                                            <select required name="issue_function" id="issue_function" style="margin-bottom:15px;width:50%;" class="form-select" aria-label="Default select example"> 
                                                {% for i in issue_function_obj %}
                                                <option class="dropdown-item" value="{{i.issue_function_aid}}">{{i.issue_function_label}}</option>
                                                {% endfor %}
                                            </select>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-4">
                                                Registration Date
                                                <span style="color: red;">*</span>
                                            </div>
                                            <div class="col-12 col-md-8">
        
                                                <input class="form-control datetimepicker" name="issue_registration_date" style="margin-bottom:15px;width:30%;" id="datepicker" type="datetime"
                                                placeholder="mm/dd/yyyy" data-options='{"disableMobile":true,"dateFormat":"m/d/Y"}' required/>
        
                                            </div>
                                        </div>
                                        <!-- <div class="row form-group">
                                            <div class="col col-md-4">
                                                Issue Type <span style="color: red;">*</span>
                                            </div>
                                            <div class="col-12 col-md-8">
        
                                                <select name="task_type" id="task_type" onchange="issue_type()"  style="margin-bottom:15px;width:50%;" class="form-select" aria-label="Default select example"> 
                                                    <option selected>Select Issue Type</option>
                                                    <option class="dropdown-item"  value="Model">Model</option>
                                                    <option class="dropdown-item" value="Events">Events</option>
                                                    <option class="dropdown-item" value="Others">Others</option>
                                                </select>
                                            </div>
                                        </div> -->
                                        <div class="row form-group">
                                            <div class="col col-md-4">
                                                Issue Type
                                                 <span style="color: red;">*</span>
                                            </div>
                                            <div class="col-12 col-md-8">
        
                                                <select name="issue_type" id="issue_type" onchange="issue_type_function()" style="margin-bottom:15px;width:50%;" class="form-select" aria-label="Default select example" required> 
                                                    <option value="">Select</option>
                                                    {% for i in issue_type_obj %}
                                                    <option class="dropdown-item" value="{{i.issue_type_aid}}">{{i.issue_type_label}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-4">
                                                Sub Issue Type <span style="color: red;">*</span>
                                            </div>
                                            <div class="col-12 col-md-8">
                                                <select name="sub_issue_type" id="sub_issue_type" style="margin-bottom:15px;width:50%;" class="form-select" aria-label="Default select example" required> 
                                                    
    
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-4">
                                                Issue ID <span style="color: red;">*</span>
                                            </div>
                                            <div class="coldata-12 col-md-8">
                                                <input type="text" id="issue_id" name="issue_id"
                                                    class="form-control-sm form-control" value=""
                                                    style="font-size: 12pt;margin-bottom:15px"
                                                    readonly/>
                                                <input type="hidden" id="link_id" name="link_id" value="">
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-4">
                                                Priority <span style="color: red;">*</span>
                                            </div>
                                            <div class="col-12 col-md-8">
                                                <select name="issue_priority" id="issue_priority" style="margin-bottom:15px;width:50%;" class="form-select" aria-label="Default select example" required> 
                                                
                                                    {% for i in issue_priority_obj %}
                                                    <option class="dropdown-item" value="{{i.issue_priority_aid}}">{{i.issue_priority_label}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-4">
                                                End Date
                                                <span style="color: red;">*</span>
                                            </div>
                                            <div class="col-12 col-md-8">
                                                <input class="form-control datetimepicker" name="issue_end_date" style="margin-bottom:15px;width:30%" id="datepicker" type="text"
                                                placeholder="mm/dd/yyyy" data-options='{"disableMobile":true,"dateFormat":"m/d/Y"}' required/>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-4">
                                                Completion Status <span style="color: red;">*</span>
                                            </div>
                                            <div class="coldata-12 col-md-8">
                                                <input type="number" id="txtModelNm" name="issue_completion_status"
                                                    class="form-control-sm form-control" value=""
                                                    style="padding: 1px 5px;resize: none; width: 40%;font-size: 12pt;margin-bottom:15px"
                                                    required />
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-4">
                                                Approval Status<span style="color: red;">*</span>
                                            </div>
                                            <div class="col-12 col-md-8">
                                                <select name="issue_approval_status" id="issue_approval_status" style="margin-bottom:15px;width:50%;" class="form-select" aria-label="Default select example" required> 
                                                    <option value="Pending">Pending</option>
                                                    {% for i in issue_approval_master %}
                                                    <option class="dropdown-item" value="{{i.issue_approvalstatus_aid}}">{{i.issue_approvalstatus_label}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                            <div style="border: 1px solid var(--phoenix-gray-200);padding: 10px;border-radius: 0.5rem;margin-top: 15px;">
                              <h4 id="v-pills-design" style="margin-bottom: 15px;">Relevant Personnel</h4>
                              <div class="row">
                                <div class="col-xl-12">
                                    <div class="row form-group">
                                        <input type="hidden" id="issue_relevant_personnel_check" name="issue_relevant_personnel_check" value="True">
                                        <div class="col col-md-4">
                                            Originator <span style="color: red;">*</span>
                                        </div>
                                        <div class="col-12 col-md-8">
                                            <input readonly type="text" id="txtModelVersion" name="issue_originator_relevant"
                                                class="form-control-sm form-control" value="{{originator_name}}"
                                                style="width: 100%;font-size: 12pt;margin-bottom:15px;"
                                                />
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-4">
                                            Assigned to <span style="color: red;">*</span>
                                        </div>
                                        <div class="col-12 col-md-8" style="margin-bottom: 2%;">
                                            <!-- <select multiple name="assigned_to" id="assigned_to" style="margin-bottom:15px;width:50%;" class="form-select" aria-label="Default select example">  -->
                                                <select required name="issue_assigned_to" id="issue_assigned_to" style="margin-bottom:15px;width:50%;" class="form-select" data-choices="data-choices" multiple="multiple" data-options='{"removeItemButton":false,"placeholder":true}'> 
                                                {% for i in users_obj %}
                                                <option class="dropdown-item" value="{{i.u_aid}}">{{i.u_fname |add:' '| add:i.u_lname}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-4">
                                            Approved by <span style="color: red;">*</span>
                                        </div>
                                        <div class="col-12 col-md-8">
                                            <!-- <select multiple name="approved_by" id="approved_by" style="margin-bottom:15px;width:50%;" class="form-select" aria-label="Default select example">  -->
                                            <select class="form-select" name="issue_approved_by" id="issue_approved_by" data-choices="data-choices" multiple="multiple" data-options='{"removeItemButton":false,"placeholder":true}' required>    
                                                {% for i in users_obj %}
                                                <option class="dropdown-item" value="{{i.u_aid}}">{{i.u_fname |add:' '| add:i.u_lname}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                            <div style="border: 1px solid var(--phoenix-gray-200);padding: 10px;border-radius: 0.5rem;margin-top: 15px;">
                              <h4 id="v-pills-attributes" style="margin-bottom: 15px;">Relevant Dependencies</h4>
                              <div class="row">
                                <div class="col-xl-12">
                                    <div class="row form-group">
                                        <div class="col col-md-4">
                                            Historical Dependency <span style="color: red;">*</span>
                                        </div>
                                        <div class="col-12 col-md-8">
                                            <input type="text" id="txtModelVersion" name="historical_dependency"
                                                class="form-control-sm form-control" value=""
                                                style="padding: 1px 5px;resize: none; width: 100%;font-size: 12pt;margin-bottom:15px;"
                                                />
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-4">
                                            Current Dependency <span style="color: red;">*</span>
                                        </div>
                                        <div class="col-12 col-md-8">
                                            <input type="text" id="txtModelVersion" name="current_dependency"
                                                class="form-control-sm form-control" value=""
                                                style="padding: 1px 5px;resize: none; width: 100%;font-size: 12pt;margin-bottom:15px;"
                                                />
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-4">
                                            Sub-Issue Dependency <span style="color: red;">*</span>
                                        </div>
                                        <div class="col-12 col-md-8">
                                            <input type="text" id="txtModelVersion" name="sub_task_dependency"
                                                class="form-control-sm form-control" value=""
                                                style="padding: 1px 5px;resize: none; width: 100%;font-size: 12pt;margin-bottom:15px;"
                                                />
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div> 
                            <div style="border: 1px solid var(--phoenix-gray-200);padding: 10px;margin-top: 15px;border-radius: 0.5rem;">
                              <h4 id="v-pills-relatedmodels" style="margin-bottom: 15px;">Issue Summary</h4>
                              <div class="row">
                                <div class="col-xl-12">
                                    <div class="row form-group">
                                        <input type="hidden" id="issue_summery_check" name="issue_summery_check" value="True">
                                        <div class="col col-md-4">
                                            Issue Summary <span style="color: red;">*</span>
                                        </div>
                                        <div class="col-12 col-md-8">
                                            <div class="mb-3">
                                                <textarea maxlength="10" id= "issue_summery" name="issue_summery" class="tinymce" data-tinymce="{}" required></textarea>
                                                <!-- <textarea maxlength="10" id="myTextarea"></textarea> -->

                                              </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-4">
                                            Issue Requirements <span style="color: red;">*</span>
                                        </div>
                                        <div class="col-12 col-md-8">
                                            <div class="mb-3">
                                                <textarea name="issue_requirement" class="tinymce" data-tinymce="{}"></textarea>
                                              </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-4">
                                            Assignee comments <span style="color: red;">*</span>
                                        </div>
                                        <div class="col-12 col-md-8">
                                            <div class="mb-3">
                                                <textarea name="issue_assignee_comments" class="tinymce" data-tinymce="{}"></textarea>
                                              </div>
                                        </div>
                                    </div>
                                    <!-- <div class="row form-group">
                                        <div class="col col-md-4">
                                            Approval<span style="color: red;">*</span>
                                        </div>
                                        <div class="col-12 col-md-8">
                                            <select name="issue_approval" id="issue_approval" style="margin-bottom:15px;width:50%;" class="form-select" aria-label="Default select example"> 
                                                <option value ="pending"selected>Pending</option>
                                                {% for i in issue_approval_master %}
                                                    <option class="dropdown-item" value="{{i.issue_approvalstatus_aid}}">{{i.issue_approvalstatus_label}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div> -->
                                    <div class="row form-group">
                                        <div class="col col-md-4">
                                            Approver Comments <span style="color: red;">*</span>
                                        </div>
                                        <div class="col-12 col-md-8">
                                            <div class="mb-3">
                                                <textarea id="mytextarea" name="issue_approver_comments"  class="tinymce" data-tinymce="{}"></textarea>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>

                            <div class="col-12 gy-6" style="margin-top: 15px;">
                              <div class="row g-3 justify-content-end">
                                <div class="col-auto">
                                  <button class="btn btn-phoenix-primary px-5" type="button">Cancel</button>
                                </div>
                                <div class="col-auto">
                                  <button class="btn btn-primary px-5 px-sm-15" onclick="submit_function()" type="submit">Add Issue</button>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                      </div>
                  </div>
                </div> 
              </div>
            </div> 
          </div>
          
            </div>
    </form>
</div>
<script src="assets/js/flatpickr.js"></script> 
<!-- <script src="https://cdn.tiny.cloud/1/ux9ka8ai485jq6szlzw1jf4hs6k3bcjl6a5yjhstdk40cjux/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script> -->

<script>
    
    $(function(){
        console.log('{{originatorid| safe }}')
        
    var task_assignee_thread_lst='{{issue_assignee_thread_lst| safe }}';
    console.log('task_assignee_thread_lst ',task_assignee_thread_lst)
    task_assignee_thread_lst=JSON.parse(task_assignee_thread_lst)
            task_assignee_thread_lst.forEach(i => {
             //   sendNotification('New Issue|New issue id assigned to you.',i.from,i.to,i.thread_id); 
            
            });
            
            var task_approver_thread_lst='{{issue_approver_thread_lst| safe }}';
            task_approver_thread_lst=JSON.parse(task_approver_thread_lst)
            task_approver_thread_lst.forEach(i => {
             
            //sendNotification('New Issue|New issue id for approval.',i.from,i.to,i.thread_id); 
            });
    }
    );
    function generate_issueID(){
        $.ajax({ 
        type:'GET',
        url: "{% url 'generate_issueID' %}",
        data:{'model_id':$('#model_id').val(),'issue_type':$('#issue_type').val(),'issue_Lbl':$('#issue_type option:selected').text()},
        dataType: 'json',
        success: function (data) {  
          console.log('data',data)  
          console.log('data',typeof(data))   
          document.getElementById("issue_id").value=data.issue_id
          document.getElementById("link_id").value=data.model_id
          $("#divTune").modal("hide");
        }
        });
    }
    function closeModel(){
        $("#divTune").modal("hide");
    }
    function myFunction(){
        var department = $("#txtModelNm").val()
        if (department == ""){
            alert('Please add Department')
        }
        var originator = $("#txtModelVersion").val()
        if( originator == ""){
            alert('please add Originator')
        }
        var issue_function = $('#issue_function').val()
        if(issue_function == ""){
            alert("please add issue function")
        }
        var Reg_date = $('#datepicker').val()
        if(Reg_date == ""){
            alert("Please add registration date")
        }
        var issue_type = $('#issue_type')
        if (issue_type==""){
            alert("Please add issue type")
        }
        alert('Issue registred Successfully')
    }

    function issue_type_function()
    {  
        console.log("issue_type_function")
        console.log($('#issue_type option:selected').text())
      $.ajax({ 
        type:'GET',
        url: "{% url 'get_sub_issue_type' %}",
        data:{'issue_type':$('#issue_type').val()},
        dataType: 'json',
        success: function (data) {  
          console.log('data',data)  
          console.log('data',typeof(data))

          previous_data=$('#sub_issue_type option').text()
          console.log("previous_data",previous_data)  
          if (previous_data){
            console.log("if")
            $("#sub_issue_type option").remove();   //$('#id option').remove();
          }
          for (const [key, value] of Object.entries(data)) {
            console.log('Data',`${key}`, `${value}`);
            var option = $('<option />');
            option.attr('value',`${key}`).text(`${value}`);

            $('#sub_issue_type').append(option);
           
            }

            if ($('#issue_type option:selected').text() == "Model"){
                
                $("#divTune").modal("toggle");
            }
            else{
                generate_issueID();
            }

             
        }
        });
    
      
    }

    
    
</script>
{% endblock content %}