{% extends 'rmsebase.html' %} 
{% load static %} 
{% block content %} 

<div style="margin-left:auto;display: flex; justify-content:center;">         
            
               
                
  <div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4>Roles Responsibility Question Allocation</h4>
        </div>
        <div class="card-body card-block">                                 
                <div class="row form-group">                                     
                    <div class="col col-md-12">
                        <select id="selectSection"  style="margin-bottom: 15px;" class="form-control form-control-sm"  multiple>  
                           {% for index,data in obj.items %}
                                <option style=" color: {{data.color}};  background-color: {{data.bgColor}};" value="{{data.Qtn_AID}}">{{data.Question_Text}}</option>
                            {% endfor %}                                            
                        </select>                                        
                    </div>                                     
                  </div>   
                <div class="row form-group">   
                  {% for question in questions %}                                  
                  <div class="accordion" id="accordionExample_{{question.qtn_id}}" style="margin-bottom: 25px;">
                    <div class="accordion-item border-top border-300">
                      <h2 class="accordion-header" id="headingOne">
                        
       
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne_{{question.qtn_id}}" aria-expanded="true" aria-controls="collapseOne_{{question.qtn_id}}">
                          {{question.question_text}}
                        </button>
                      </h2>
                      <div class="accordion-collapse collapse" id="collapseOne_{{question.qtn_id}}" aria-labelledby="headingOne" data-bs-parent="#accordionExample_{{question.qtn_id}}" style="">
                        <div class="accordion-body pt-0"> 
                             
                            
                            <div class="row form-group" style="padding-bottom:0px;margin-bottom:10px;padding-top:0px;margin-top:0px;"> 
                                <div class="col-12 col-md-12">
                                     <textarea id="_{{question.qtn_id}}" readonly rows="5" style="resize: none; border:1px solid black;width: 100%;font-size: 10pt;" >{{question.Question_Resp}}</textarea> 
                                </div>
                            </div>
                        
                       
      
                            
                        </div>
                      </div>
                    </div>
                    
               
              </div> 
              {% endfor %}
                </div>
                 
        </div> 
        
        <div class="card-footer" style="border: 0px solid red;;">
            <div class="col-12 gy-6">
                <div class="row g-3 justify-content-end">
                  <div class="col-auto">
                       
                    <button type="button" class="btn btn-primary" id="btn_report" onclick="openmodal()">Add New</button> 
                    
                </div>
                    <div class="col-auto">
                       
                        <button type="button" class="btn btn-primary" id="btn_report" onclick="saveAllocation()">Save</button> 
                        
                    </div>
                   
                    <div class="col-auto">
                        <button type="button" class="btn btn-primary" onclick="goNext()">Next</button>
                    </div>
                </div>  
            </div>
        </div>
    </div>

    </div> 
                </div>
<!-- Modal -->
  <div id="staticBackdropLive" class="modal"  style="display: block;" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLiveLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLiveLabel">Modal Selection</h5>
        
        </div>
        <div class="modal-body"> 
          <div class="row mb-3 position-relative"> 
            <label class="col-sm-4 col-form-label" for="txtsection">Question</label>

            <div class="col-sm-8">
                <input class="form-control" id="txtqtn" type="text" required=""> 
            </div>
          </div>  
          <div class="row mb-3 position-relative"> 
            <label class="col-sm-4 col-form-label" for="txtsection">Description</label>

            <div class="col-sm-8">
                <textarea class="form-control" id="txtdesc" type="text"> </textarea>
            </div>
             
          </div>  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-phoenix-primary px-5" data-dismiss="modal" onclick="goNext()">Cancel</button> 
          <button type="button" class="btn btn-primary px-5 px-sm-5" onclick="savequestion()">Save</button>
        </div>
      </div>
    </div>
  </div>
                 
            </div>
            
{% endblock content %}
{%  block script %}
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'jquery-3.5.1.js' %}"></script>
<!-- Jquery JS-->
<script src="{% static 'vendor/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'dataTables.min.js' %}"></script>
<script type='text/javascript' >
    var myTable;
    var colDtTbl;
    $(document).ready( function () { 
        $('#liDataV').click(function(){
        $('#sub_sub_menu').hide();
        $('#staticBackdropLive').hide();
        });
        $('#staticBackdropLive').hide();
        if ( $('#selectSection').val() == 'addnew'){
            $('#staticBackdropLive').show(); 
        }
    } ); 
    function openmodal(){ 
            $('#staticBackdropLive').modal({backdrop:'static', keyboard:false},'toggle');
            $('#staticBackdropLive').show(); 
        
    }
    function savequestion(){
        $.ajax({
            url: '/savemodalrespquestion/', 
            data:{qtn_txt: $("#txtqtn").val(),desc:$('#txtdesc').val() 
            ,activests:1,isavailibility:0},
            dataType: 'json', 
            success: function (data) { 
               if(data.isvalid=='true'){
                alert('Roles Responsibility QUestion added succcessfully.')
                window.location.reload();
                // alert(data.msg)
               }
               else
               {
                alert('Error while creating user category.')
                // alert(data.msg)
               }
            }
        });
    }

    function saveAllocation(){
        debugger;
        //alert('src is '+ $("#txt_src").val() + ', email is '+ $("#txt_email").val() +' , cols are '+ $("#selectCols").val() )
        console.log('clicked '+ $('#selectSection').text() )
        $.ajax({
            url: '/savequestionallocation/', 
            data:{response: $("#selectSection").val()},
            dataType: 'json',
            success: function (data) {
               // alert(data)
               if(data.isvalid == 'true'){
                alert('Responsibility question Allocation saved successfully.'); 
               }
               else{
                alert('Something Went Wrong')
               }
            }
        });
        
    }

    function goNext(){
        window.location="{% url 'valFindings' %}"
} 
</script>
{% endblock script %}