{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="content" style="padding-top:0px;"> 
  
  <div class="mb-9">
    <div id="projectSummary" data-list='{"valueNames":["Model_ID","Process_Name","Type","Area","Internal_Vendor","Status","Approval_Status"]}'>
       
      <div class="row g-3 justify-content-between align-items-end mb-4">
         
        <div class="col-12 col-sm-auto">
          <div class="d-flex align-items-center">
            <div class="search-box me-3">
              <div class="position-relative" data-bs-toggle="search" data-bs-display="static">
                <input class="form-control search-input search" type="search" placeholder="Search Tasks" aria-label="Search" />
                <span class="fas fa-search search-box-icon"></span>

              </div>
            </div> 
          </div>
        </div>
        <div class="col"><a class="btn btn-primary px-5" href="{% url 'task_registration' %}"><i class="fa-solid fa-plus me-2"></i>Add New</a></div>
      </div> 
      <div class="table-responsive scrollbar"  style="max-height:450px;">
        <table class="table fs--1 mb-0 border-top border-200">
          <thead>
            <tr>
              
              <th class="sort white-space-nowrap align-middle ps-0" scope="col" data-sort="Model_ID" style="width:10%;">Task id</th>
              <th class="sort align-middle ps-3" scope="col" data-sort="Area" style="width:15%;">Registration Date</th>
              <th class="sort align-middle ps-3" scope="col"  style="width:10%;">Task Type</th>
              <th class="sort align-middle ps-3" scope="col" data-sort="Process_Name" style="width:20%;">Sub Task Type</th>
              <th class="sort align-middle ps-3" scope="col" data-sort="Type" style="width:20%;">Priority</th>              
              <th class="sort align-middle ps-3" scope="col" data-sort="Internal_Vendor" style="width:12%;">Completion Status</th>
              <th class="sort align-middle ps-3" scope="col" data-sort="Status" style="width:5%;">Approval_Status</th>
              
            </tr>
          </thead>
          <tbody class="list" id="project-list-table-body">
            {% for i in all_data_lst  %} 
              <tr class="position-static"> 
                <td class="align-middle time white-space-nowrap ps-0 Model_ID py-4">
                  <a href="{% url 'edit_task' i.task_id  %}">{{i.task_id}}</a><br>
                  
                </td>                
                <td class="align-middle white-space-nowrap Process_Name ps-3 py-4">
                  {{i.reg_date|date:"M d, Y"}}
                </td>
                <td class="align-middle white-space-nowrap ps-0  py-4">
                  
                 {{i.task_type}}
                </td>
                <td class="align-middle white-space-nowrap Type ps-3 py-4">
                  {{i.sub_task_type}}
                </td>
                <td class="align-middle white-space-nowrap Area ps-3 py-4">
                  {{i.priority}}
                </td>
                <td class="align-middle white-space-nowrap Internal_Vendor ps-3 py-4">
                  {{i.completion_status}}
                </td>
                <td class="align-middle white-space-nowrap ps-3 Status">
                  {{i.approval_status}}
                </td> 
                  <!-- <td>
                    <div class="font-sans-serif btn-reveal-trigger position-static">
                      <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs--2" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs--2"></span></button>
                      <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">Upcoming</a><a class="dropdown-item" href="#!">Tasks</a><a class="dropdown-item" href="#!">Audit Trail</a>
                        
                      </div>
                    </div>
                  </td> -->
              </tr>
            {% endfor %}   
          </tbody>
        </table>
      </div>
     
    </div>
  </div> 
  </div>
{% endblock content %}